<style>
div#observation_list{
  font-size: 10pt;
  padding: 20px 1.5em 10px 1.5em;
  width: 28.8em;
  position: absolute;
  top: 5em;
  height: 10em;
  bottom: 0;
  left: 0em;
  overflow-y: auto;
  line-height: 1em;
  border-right: 2px solid #DDD;
  border-bottom: 2px solid #aaaaaa;
}
div.observation{
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 3px;
}
div.obsphoto{
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
}
</style>

<div id="observation_list">
<% @obs.location.observations.each{ |o| %>
<div class="observation">
<% unless o.photo_file_size.nil? %>
<div class="obsphoto"><img src="<%= o.photo.url(:thumb) %>"></div>
<% end %>
<% unless o.comment.blank? %>
<p style="font-style: italic;"><%= o.comment %><p>
<% end %>
<p style="font-size: 8pt;">
Yield: <%= o.yield_rating.nil? ? "N/A" : Location::Ratings[o.yield_rating] %> | 
Quality: <%= o.quality_rating.nil? ? "N/A" : Location::Ratings[o.quality_rating] %> | 
Status: <%= o.fruiting.nil? ? "Unsure" : Location::Fruiting[o.fruiting] %>
</p>
<p style="color: #c9c9c9;">
Added by <%= o.author.blank? ? "Anonymous" : o.author %>
<% unless o.observed_on.nil? %>
on <%= o.observed_on %>
<% end %>
<% if user_signed_in? and current_user.is? :admin %>
<div style="float: right; clear:right;">
<%= link_to('delete', o, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete this observation') %> 
<% unless o.photo_file_size.nil? %> 
| <a href="/observations/<%= o.id %>/delete_photo" data-ajax="false" rel="external" title="Delete photo">delete photo</a>
<% end %>
</div>
<% end %>
</p>
<div style="clear: right; height: 3px;"></div>
</div>
<% } %>
</div>
