<p>
<b>Recent changes</b>
</p>

<% 
last_days_ago = nil 
@changes.each do |c| 
  c["days_ago"] = c["days_ago"].to_i
  if last_days_ago.nil? or c["days_ago"] > last_days_ago
    header = (c["days_ago"] <= 0) ? "Last 24 hours" : ((c["days_ago"] == 1) ? "1 day ago" : "#{c["days_ago"]} days ago")
    if last_days_ago.nil? 
      header = header + "<blockquote>"
    else
      header = "</blockquote>#{header}<blockquote>"
    end
    last_days_ago = c["days_ago"]
  end
%>
<%= raw header %>
<% unless c["location_id"].nil? %>
  <a href="/locations/<%= c["location_id"] %>"><%= c["type_title"].gsub(","," · ") %></a> (#<%= c["location_id"] %>) <%= c["description"] %>
  <% unless c["country"].nil? %>
    in <%= [c["city"],c["state"],c["country"]].compact.join(", ") %>
  <% end %>
<% else %>
    <%= c["description"] %>
<% end %>
<% if admin_signed_in? %>
  <span style="color: #E35809;">
  <% if c["admin_id"].nil? %>
    &nbsp;<%= c["remote_ip"] %>
  <% else %>
    &nbsp;Admin
  <% end %>
  </span>
<% end %>
<br>
<% end %>
<% if @changes.length > 0 %>
</blockquote>
<% end %>
