<p>
<b>Recent changes</b> <span style="font-style: italic; color: grey;">(since April 28, 2013)</span>
</p>

<% 
last_days_ago = nil 
@changes.each do |c| 
  c.days_ago = c.days_ago.to_i
  if last_days_ago.nil? or c.days_ago > last_days_ago
    header = (c.days_ago <= 0) ? "Less than 24 hours ago" : "#{c.days_ago} days ago"
    if last_days_ago.nil? 
      header = header + "<blockquote>"
    else
      header = "</blockquote>#{header}<blockquote>"
    end
    last_days_ago = c.days_ago
  end
%>
<%= raw header %>
<% unless c.location.nil? %>
  <a href="/locations/<%= c.location.id %>"><%= c.location.title %></a> (#<%= c.location.id %>) was <%= c.description %>.
<% else %>
  <%= c.description %>.
<% end %>
<% if admin_signed_in? %>
  <span style="color: grey;">
  <% if c.admin.nil? %>
    [<%= c.remote_ip %>]
  <% else %>
    [A]
  <% end %>
  </span>
<% end %>
<br>
<% end %>
<% if @changes.length > 0 %>
</blockquote>
<% end %>
