<p>
<b>Recent changes</b>
</p>

<% 
last_days_ago = nil 
@changes.each do |c| 
  reordered_type_title = []
  c["positions"] = $1.split(/,/).collect{ |e| e.to_i } if c["positions"] =~ /\{(.*)\}/
  c["type_title"] = c["type_title"].split(/,/)
  c["positions"].each_index{ |i|
    t = c["type_title"][i]
    p = c["positions"][i]
    reordered_type_title[p] = t
  }
  c["days_ago"] = c["days_ago"].to_i
  if last_days_ago.nil? or c["days_ago"] > last_days_ago
    header = (c["days_ago"] <= 0) ? "Last 24 hours" : ((c["days_ago"] == 1) ? "1 day ago" : "#{c["days_ago"]} days ago")
    if last_days_ago.nil? 
      header = header + "<blockquote>"
    else
      header = "</blockquote>#{header}<blockquote>"
    end
    last_days_ago = c["days_ago"]
  end
%>
<%= raw header %>
<% unless c["location_id"].nil? %>
  <% if user_signed_in? and current_user.is? :admin %>
    <a href="/locations/<%= c["location_id"] %>/edit">
  <% else %>
    <a href="/locations/<%= c["location_id"] %>">
  <% end %>
  <%= c["type_title"].nil? ? "Unknown" : reordered_type_title.join(" · ") %>
    </a>
    (#<%= c["location_id"] %>) <%= c["description"] %>
  <% unless c["country"].nil? %>
    in <%= [c["city"],c["state"],c["country"]].compact.join(", ") %>
  <% end %>
<% else %>
    <%= c["description"] %>
<% end %>
<% if user_signed_in? and current_user.is? :admin %>
  <span style="color: #E35809;">
  <% if c["user_id"].nil? %>
    &nbsp;<%= c["remote_ip"] %>
  <% else %>
    &nbsp;User #<%= c["user_id"] %>
  <% end %>
  </span>
<% end %>
<br>
<% end %>
<% if @changes.length > 0 %>
</blockquote>
<% end %>
