<p>
  <b><%= translate("changes.recent_changes") %></b>
</p>

<% 
last_days_ago = nil 
@changes.each do |c|
  next if c["description"] == "grafted" and (not user_signed_in? or not current_user.is? :grafter)
  types = c["type_title"]
  unless c["country"].nil?
    city = [c["city"],c["state"],c["country"]].compact.join(", ")
  end
  action = translate("changes.type." + c["description"])
  c["days_ago"] = c["days_ago"].to_i
  if last_days_ago.nil? or c["days_ago"] > last_days_ago
    if c["days_ago"] <= 0
      header = translate("time.last_24_hours")
    else
      header = translate("time.time_ago", :time => (translate("time.days", :count => c["days_ago"])))
    end
    if last_days_ago.nil? 
      header = "<span>" + header + "</span><blockquote>"
    else
      header = "</blockquote><span>" + header + "</span><blockquote>"
    end
    last_days_ago = c["days_ago"]
  end
  %>
  <%= raw header %>
  <% unless c["location_id"].nil? %>
    <%= link_to location_path(c["location_id"]) do %>
      <span><%= types.nil? ? translate("glossary.unknown") : types %></span>
    <% end %>
    (#<%= c["location_id"] %>)
    <% unless city.nil? %>
      <span><%= translate("changes.change_in_city", :type => action, :city => city) %></span>
    <% else %>
      <span><%= action %></span>
    <% end %>
    <% if user_signed_in? and current_user.is? :admin %>
      &middot; <span style="color: #E35809;">
      <% if c["user_id"].nil? %>
        <%= c["remote_ip"] %>
      <% else %>
        <span><%= translate("glossary.user") %> #<%= c["user_id"] %></span>
      <% end %>
      </span>
    <% end %>
    <br>
  <% end %>
<% end %>
<% if @changes.length > 0 %>
  </blockquote>
<% end %>
