<p>
<b><%= I18n.t("changes.index.recent_changes",:default=>"Recent changes") %></b>
</p>

<% 
last_days_ago = nil 
@changes.each do |c|
  pretty_title = (c["type_title"] + c["type_others"]).split(/,/).join(', ')
  c["days_ago"] = c["days_ago"].to_i
  if last_days_ago.nil? or c["days_ago"] > last_days_ago
    if c["days_ago"] <= 0
      header = I18n.t("changes.index.last_24_hours")
    else
      if c["days_ago"] == 1
        header = I18n.t("changes.index.1_day_ago")
      else
        header = I18n.t("changes.index.n_days_ago",:n => c["days_ago"])
      end
    end
    if last_days_ago.nil? 
      header = header + "<blockquote>"
    else
      header = "</blockquote>#{header}<blockquote>"
    end
    last_days_ago = c["days_ago"]
  end
%>
<%= raw header %>
<% unless c["location_id"].nil? %>
  <% if user_signed_in? and current_user.is? :admin %>
    <a href="/locations/<%= c["location_id"] %>/edit">
  <% else %>
    <a href="/locations/<%= c["location_id"] %>">
  <% end %>
  <%= c["type_title"].nil? ? "Unknown" : pretty_title %>
    </a>
    (#<%= c["location_id"] %>) <%= c["description"] %>
  <% unless c["country"].nil? %>
    in <%= [c["city"],c["state"],c["country"]].compact.join(", ") %>
  <% end %>
<% else %>
    <%= c["description"] %>
<% end %>
<% if user_signed_in? and current_user.is? :admin %>
  <span style="color: #E35809;">
  <% if c["user_id"].nil? %>
    &nbsp;<%= c["remote_ip"] %>
  <% else %>
    &nbsp;<%= I18n.t("changes.index.user",:default=>"User") %> #<%= c["user_id"] %>
  <% end %>
  </span>
<% end %>
<br>
<% end %>
<% if @changes.length > 0 %>
</blockquote>
<% end %>