<h2><%= I18n.t("devise.fallingfruit.edit_account") %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, I18n.t("devise.fallingfruit.name") %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field confirmation">
    <%= f.label :email, I18n.t("devise.fallingfruit.email") %>
    <%= f.email_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :about_you, I18n.t("devise.fallingfruit.bio") %><br/>
    <%= f.text_area :bio, :size => "40x6" %>
  </div>
  
  <div class="field">
    <%= f.label :options, I18n.t("devise.fallingfruit.options.label") %><br />
    <%= f.check_box :range_updates_email %> <%= I18n.t("devise.fallingfruit.options.range_updates_email") %><br />
    <%= f.check_box :add_anonymously %> <%= I18n.t("devise.fallingfruit.options.add_anonymously") %>
  </div>

  <br/>
  <%= render :partial => "range_map", :locals => {:f => f} %>
  <br/>
  
  <div class="field confirmation">
    <%= f.label :new_password %>
    <span class="subtext">Only if you want to change it. Type it in twice to confirm.</span>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="field">
    <b><%= f.label :current_password, I18n.t("devise.fallingfruit.current_password") %></b><br />
    <span class="subtext"><%= I18n.t("devise.fallingfruit.current_password_subtext") %></span><br />
    <%= f.password_field :current_password %>
  </div>

  <div class="field">
    <%= f.submit I18n.t("devise.fallingfruit.save_changes") %>
  </div>
  
<% end %>

<p>
<%= link_to I18n.t("devise.fallingfruit.delete_account"), registration_path(resource_name), :data => { :confirm => I18n.t("devise.fallingfruit.are_you_sure") }, :method => :delete %>
</p>