<h2><%= I18n.t("devise.fallingfruit.resend_unlock_instructions") %></h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, I18n.t("devise.fallingfruit.email") %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit I18n.t("devise.fallingfruit.send") %></div>
<% end %>

<%= render "devise/shared/links" %>
