<!-- Source Form -->
<%= form_for(problem,:html => {:id=>"problemform",:onsubmit=>"process_form();return false;"}) do |f| %>

  <!-- Errors -->
  <% if problem.errors.any? %>
    <div id="error_explanation">
      <strong><%= pluralize(problem.errors.count, "error") %> prohibited this issue from being saved:</strong>
        <ul>
      <% problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :location_id %>

  <!-- Problem -->
  <div class="field first">
    <%= f.label :problem_type, translate("problems.problem_type") %><br />
    <%= f.select(:problem_code, Problem::Codes.collect{ |r| [r,Problem::Codes.index(r)] }, :include_blank => true) %>
  </div>

  <!-- Explanation -->
  <div class="field">
    <%= f.label :description, translate("glossary.description") %><br />
    <span class="subtext"><%= translate("problems.description_subtext") %></span><br />
    <%= f.text_area(:comment) %>
  </div>

  <% unless user_signed_in? %>
    <!-- Contact info -->
    <div class="field">
       <%= f.label :your_contact_info, translate("problems.your_contact_info") %><br />
       <%= f.text_field(:name, :placeholder => translate("glossary.name")) %><br />
       <div style="margin-top:0.25em;"><%= f.text_field(:email, :placeholder =>  translate("glossary.email")) %></div>
    </div>

     <br />
    <!-- Captcha -->
    <div id="captcha">
      <%= recaptcha_tags(:hl => I18n.locale, :ssl => (request.protocol == 'https://' ? true : false)) %>
    </div>

  <% end %>

  <br />
  <!-- Submit -->
  <div class="actions">
    <%= f.button translate("glossary.submit") %>
  </div>

<% end %>
</form>

<script type="text/javascript">
function process_form(){
  $.ajax({
    type: 'POST',
    url: '/problems',
    data: $("#problemform").serialize(),
    success: function(data){
      $("#problem_modal").html(data);
    }
  });
}
</script>
