<h1>Pending</h1>

<table id="open_problems_table">
<thead>
<tr>
 <th>When</th>
 <th>Who</th>
 <th>Where</th>
 <th>What</th>
 <th>Resolve</th>
</tr>
</thead>
<tbody>
<% @open_problems.each do |problem| %>
<tr>
<td><%= problem.created_at %></td>
<td>
	<% unless problem.reporter.nil? %>
		<% unless problem.reporter.name.nil? %>
			<a href="mailto:<%= problem.reporter.email %>"><%= problem.reporter.name %></a>
		<% else %>
			<a href="mailto:<%= problem.reporter.email %>"><%= problem.reporter.email %></a>
		<% end %>
	<% else %>
		<% if (not problem.email.nil? and not problem.name.nil?) %>
			<a href="mailto:<%= problem.email %>"><%= problem.name %></a>
		<% elsif (problem.email.nil? and not problem.name.nil?) %>
			<%= problem.name %>
		<% elsif (not problem.email.nil? and problem.name.nil?) %>
			<a href="mailto:<%= problem.email %>"><%= problem.email %></a>
		<% end %>
	<% end %>
</td>
<td><% if problem.location.nil? %>
    Removed
    <% else %>
    <a href="/locations/<%= problem.location.id %>"><%= problem.location.id %></a>
    <% end %>
    </td>
<td><%= Problem::Codes[problem.problem_code] %>
    <% unless problem.comment.blank? %>
    <br><em><%= problem.comment %></em>
    <% end %>
<td>Coming soon!</td>
</tr>
<% end %>
</tbody>
</table>

<% if @closed_problems.length > 0 %>
<h1>Completed</h1>

<table id="closed_problems_table">
<thead>
<tr>
 <th>When</th>
 <th>Who</th>
 <th>Where</th>
 <th>What</th>
 <th>Resolution</th>
 <th>Admin</th>
</tr>
</thead>
<tbody>
<% @closed_problems.each do |problem| %>
<tr>
<td><%= problem.created_at %></td>
<td>
	<% unless problem.reporter.nil? %>
		<% unless problem.reporter.name.nil? %>
			<a href="mailto:<%= problem.reporter.email %>"><%= problem.reporter.name %></a>
		<% else %>
			<a href="mailto:<%= problem.reporter.email %>"><%= problem.reporter.email %></a>
		<% end %>
	<% else %>
		<% if (not problem.email.nil? and not problem.name.nil?) %>
			<a href="mailto:<%= problem.email %>"><%= problem.name %></a>
		<% elsif (problem.email.nil? and not problem.name.nil?) %>
			<%= problem.name %>
		<% elsif (not problem.email.nil? and problem.name.nil?) %>
			<a href="mailto:<%= problem.email %>"><%= problem.email %></a>
		<% end %>
	<% end %>
</td>
<td><a href="/locations/<%= problem.location.id %>"><%= problem.location.id %></a></td>
<td><%= Problem::Codes[problem.problem_code] %>
    <% unless problem.comment.blank? %>
    <br><em><%= problem.comment %></em>
    <% end %>
<td><%= Problem::Resolutions[problem.resolution_code] %>
    <% unless problem.response.blank? %>
    <br><em><%= problem.response %></em>
    <% end %>
<td><%= problem.responder.nil? ? "Anonymous" : problem.responder.name %></td>
</tr>
<% end %>
</tbody>
</table>
<% end %>

<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
    jQuery('#open_problems_table').dataTable({
      "aaSorting": [[0,"asc"]],
      "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
						"iDisplayLength" : -1
    });
    jQuery('#closed_problems_table').dataTable({
      "aaSorting": [[0,"asc"]],
      "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
						"iDisplayLength" : -1
    });
});
</script>