<%= form_for @type, :html => { :multipart => true }  do |f| %>
  <% if @type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% @type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :synonyms %><br />
    <span class="subtext">comma-separated list, e.g., Foo, Bar, Baz</span><br>
    <%= f.text_field :synonyms %>
  </div>
  <div class="field">
    <%= f.label :spanish_name %><br />
    <%= f.text_field :es_name %>
  </div>
  <div class="field">
    <%= f.label :polish_name %><br />
    <%= f.text_field :pl_name %>
  </div>
  <div class="field">
    <%= f.label :hebrew_name %><br />
    <%= f.text_field :he_name %>
  </div>
  <div class="field">
    Scientific (latin) name<br />
    <%= f.text_field :scientific_name %>
  </div>
  <div class="field">
    <%= f.label :scientific_synonyms %><br />
    <%= f.text_field :scientific_synonyms %>
  </div>
  <div class="field">
    <%= f.label :parent %><br/>
    <%= f.hidden_field(:parent_id,{:class=>"parentselect2"}) %>
  </div>
  <div class="field">
    <%= f.label :taxonomic_rank %><br/>
    <%= f.select(:taxonomic_rank,Type::Ranks.collect{ |id,name| [name,id] },:include_blank=>true) %>
  </div>
  <div class="field">
    <%= f.label "USDA" %><br />
    <%= f.text_field :usda_symbol %><br>
    <span class="subtext">See <a href="http://plants.usda.gov/classification.html">here</a>.</span>
  </div>
  <div class="field">
    <%= f.label :wikipedia_url %><br />
    <%= f.text_field :wikipedia_url %>
  </div>
  <div class="field">
    <%= f.label :urban_mushrooms_url %><br />
    <%= f.text_field :urban_mushrooms_url %>
  </div>
  <div class="field">
    <%= f.label :eat_the_weeds_url %><br />
    <%= f.text_field :eat_the_weeds_url %>
  </div>
  <div class="field">
    <%= f.label :fruitipedia_url %><br />
    <%= f.text_field :fruitipedia_url %>
  </div>
  <div class="field">
    <%= f.label :foraging_texas_url %><br />
    <%= f.text_field :foraging_texas_url %>
  </div>

  <div class="field">
    <%= f.label :edibility %><br />
    <%= f.select(:edability, Type::Edabilities.collect{ |k,v| [v,k] }, :include_blank => true) %>
  </div>

  <div class="field">
    <%= f.label :categories %><br />
    <%= select_tag(:categories, options_for_select(Type::Categories.each_with_index.collect{ |v,i| [v.capitalize,v] },@categories),:multiple => true) %>
  </div>
  
  <!-- Custom marker (unused)
  <div class="field">
    <%= f.label :custom_marker %><br />
    <span class="subtext">Currently unused...</span><br>
    <%= f.file_field :marker %>
  </div>
  -->
  
  <br />
  <% unless not(defined? lts) or lts.nil? %>
    <%= hidden_field_tag 'lts', lts.collect{ |lt| lt.id }.join(":") %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% content_for :form_scripts do %>
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function(){
      // Parent
      $(".parentselect2").select2({
        width: "20em",
        data: <%= Type.full_list_with_ids(Type::Categories).to_json.html_safe %>
      });
    });
  </script>
<% end %>