<%= form_for @type, :html => { :multipart => true }  do |f| %>
  <% if @type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% @type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Common names</h3>
  <div class="field">
    <%= f.label "English" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "English synonyms" %><br />
    <span class="subtext">comma-separated list, e.g., Foo, Bar, Baz</span><br>
    <%= f.text_field :synonyms %>
  </div>
  <div class="field">
    <%= f.label "German (de)" %><br />
    <%= f.text_field :de_name %>
  </div>
  <div class="field">
    <%= f.label "Greek (el)" %><br />
    <%= f.text_field :el_name %>
  </div>
  <div class="field">
    <%= f.label "Spanish (es)" %><br />
    <%= f.text_field :es_name %>
  </div>
  <div class="field">
    <%= f.label "French (fr)" %><br />
    <%= f.text_field :fr_name %>
  </div>
  <div class="field">
    <%= f.label "Hebrew (he)" %><br />
    <%= f.text_field :he_name %>
  </div>
  <div class="field">
    <%= f.label "Italian (it)" %><br />
    <%= f.text_field :it_name %>
  </div>
  <div class="field">
    <%= f.label "Polish (pl)" %><br />
    <%= f.text_field :pl_name %>
  </div>
  <div class="field">
    <%= f.label "Portuguese (pt-br)" %><br />
    <%= f.text_field :pt_br_name %>
  </div>
  <div class="field">
    <%= f.label "Swedish (sv)" %><br />
    <%= f.text_field :sv_name %>
  </div>
  <h3>Scientific taxonomy</h3>
  <div class="field">
    <%= f.label :scientific_name %><br />
    <%= f.text_field :scientific_name %>
  </div>
  <div class="field">
    <%= f.label :scientific_synonyms %><br />
    <%= f.text_field :scientific_synonyms %>
  </div>
  <div class="field">
    <%= f.label :parent %><br/>
    <%= f.hidden_field(:parent_id,{:class=>"parentselect2"}) %>
  </div>
  <div class="field">
    <%= f.label :children %><br/>
    <%= hidden_field_tag(:children_ids, @type.children_ids.join(","), :class => "childselect2") %>
  </div>
  <div class="field">
    <%= f.label :taxonomic_rank %><br/>
    <%= f.select(:taxonomic_rank,Type::Ranks.collect{ |id,name| [name,id] },:include_blank=>true) %>
  </div>

  <h3>Links</h3>
  <div class="field">
    <a href="http://plants.usda.gov/classification.html">USDA</a> (symbol)<br />
    <%= f.text_field :usda_symbol %><br>
  </div>
  <div class="field">
    <a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia</a> (en)<br />
    <%= f.text_field :wikipedia_url %>
  </div>
  <div class="field">
    <a href="http://urbanmushrooms.com/">Urban Mushrooms</a><br />
    <%= f.text_field :urban_mushrooms_url %>
  </div>
  <div class="field">
    <a href="http://eattheweeds.com/">Eat the Weeds</a><br />
    <%= f.text_field :eat_the_weeds_url %>
  </div>
  <div class="field">
    <a href="http://fruitipedia.com/">Fruitipedia</a><br />
    <%= f.text_field :fruitipedia_url %>
  </div>
  <div class="field">
    <a href="http://www.foragingtexas.com/">Foraging Texas</a><br />
    <%= f.text_field :foraging_texas_url %>
  </div>

  <h3>Categories</h3>
  <div class="field">
    <%= f.label :edibility %><br />
    <%= f.select(:edability, Type::Edabilities.collect{ |k,v| [v,k] }, :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :categories %><br />
    <%= select_tag(:categories, options_for_select(Type::Categories.each_with_index.collect{ |v,i| [v.capitalize,v] },@categories),:multiple => true) %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area(:notes, rows: 15, cols: 80) %>
  </div>
  <div class="field">
    <%= f.check_box(:pending, :checked => false) %>
    <b><%= f.label :pending %></b>
  </div>

  <br />
  <div class="actions">
    <%= f.submit @current_action == "new" ? "Create" : "Update" %>
  </div>
<% end %>

<% content_for :form_scripts do %>
  <script type="text/javascript" charset="utf-8">
    <% if @current_action == "new" %>
      var type_list = <%= Type.full_list_with_ids(Type::Categories, uncategorized = true).to_json.html_safe %>;
    <% else %>
      // Remove self from type dropdowns
      var type_list = <%= Type.full_list_with_ids(Type::Categories, uncategorized = true).reject{ |t| t[:id] == @type.id}.to_json.html_safe %>;
    <% end %>
    jQuery(document).ready(function(){
      // Parent
      $(".parentselect2").select2({
        width: "30em",
        data: type_list,
        allowClear: true,
        placeholder: " ",
        placeholderOption: function () { return undefined; }
      });
      // Children
      $(".childselect2").select2({
        tokenSeparators: [","],
        multiple: true,
        closeOnSelect: false,
        width: "30em",
        data: type_list
      });
    });
  </script>
<% end %>
