<h1>Locations</h1>

<% if @type.pending %>
  <%= '[' + @type.locations.length.to_s + ']' %>
<% else %>
  <%= link_to '[' + @type.locations.length.to_s + ']', '/?f=' + @type.id.to_s %>
<% end %>
<% links = 10 %>
<% @type.locations[0..links-1].each do |l| %>
  <%= link_to l.id, edit_location_path(l.id) unless l.id.nil? %>
<% end %>
<% if @type.locations.length > links %>
  ...
<% end %>

<h2>Merge</h2>

<form action="/types/<%= @type.id %>/merge">
  <%= hidden_field_tag(:into_id, [], :class => "mergeselect2") %>
  <%= submit_tag "Merge" %>
</form>

<h2>Edit</h2>

<%= render 'form' %>

<% content_for :form_scripts do %>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
  jQuery('.mergeselect2').select2({
    width:'30em',
    data: type_list // see _form
  });
});
</script>
<% end %>
