<h1>Pending Types</h1>

<table id="type_others_table">
<thead>
<tr>
 <th>Name</th>
 <th>Locations</th>
 <th>Create</th>
 <th>Merge</th>
</tr>
</thead>
<tbody>

<% types_list = Type.order("name").collect{ |t| [t.name,t.id] } %>

<% @type_others.each do |name,lts| 
  @type = Type.new
  @type.name = name
%>

<tr>
<td><%= name %></td>
<td width="25%"><%= lts.length %><br/><br/>

[
<% lts.each do |ltid| lt = LocationsType.find(ltid) %>        
<%= link_to lt.location.id, edit_location_path(lt.location.id) %>  
<% end %>
]

</td>
<td style="padding-bottom:1em;"><%= render :partial => 'form', :object => @type, :locals => {:lts => lts} %></td>
<td><form action="/types/merge">
    <%= hidden_field_tag 'lts', lts.join(":") %>
    <%= select_tag(:into_id,options_for_select(types_list),:class=>"select2") %>
    <%= submit_tag "Merge" %>
</form>
</td>
</tr>
<% end %>
</tbody>
</table>

<% content_for :form_scripts do %>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
  jQuery('.select2').select2({width:'element'});
});
jQuery(document).ready(function(){
    jQuery('#type_others_table').dataTable({
      "aaSorting": [],
      "bPaginate": false
    });
});
</script>
<% end %>
