<h1>Pending Types</h1>

<table id="type_others_table">
<thead>
<tr>
 <th>Name</th>
 <th>Locations</th>
 <th>Create</th>
 <th>Merge</th>
</tr>
</thead>
<tbody>

<% @type_others.each do |name,locs|
  @type = Type.new
  @type.name = name
%>

<tr>
<td><%= name %></td>
<td width="25%"><%= locs.length %><br/><br/>

[
<% locs.each do |l| %>
<%= link_to l.id, edit_location_path(l.id) unless l.id.nil? %>
<% end %>
]

</td>
<td style="padding-bottom:1em;"><%= render :partial => 'form', :object => @type, :locals => {:locs => locs,:type_other => name} %></td>
<td><form action="/types/merge">
    <%= hidden_field_tag 'locs', locs.collect{ |l| l.id }.join(":") %>
    <%= hidden_field_tag 'type_other', name %>
    <%= hidden_field_tag(:into_id,'',:class=>"intoselect2") %>
    <%= submit_tag "Merge" %>
</form>
</td>
</tr>
<% end %>
</tbody>
</table>

<% content_for :form_scripts do %>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
  jQuery('#type_others_table').dataTable({
      "aaSorting": [],
      "bPaginate": false
    });
  var all_types_data = <%= Type.full_list_with_ids(Type::Categories).to_json.html_safe %>;
  $(".parentselect2").select2({
    width: "20em",
    data: all_types_data
  });
  $(".intoselect2").select2({
    width: "20em",
    data: all_types_data
  });
});
</script>
<% end %>