<h1>Pending Types</h1>

<table id="pending_types_table">
<thead>
<tr>
 <th>Name</th>
 <th>Locations</th>
 <th>Create</th>
 <th>Merge</th>
</tr>
</thead>
<tbody>

<% @pending_types.each do |t| %>

<tr>
<td><%= name %></td>
<td width="25%"><%= t.locations.length %><br/><br/>

[
<% t.locations.each do |l| %>
<%= link_to l.id, edit_location_path(l.id) unless l.id.nil? %>
<% end %>
]

</td>
<td style="padding-bottom:1em;"><%= render :partial => 'form', :object => t, :locals => {:locs => t.locations,:type_other => t.name} %></td>
<td><form action="/types/merge">
    <%= hidden_field_tag 'id', t.id %>
    <%= hidden_field_tag(:into_id,'',:class=>"intoselect2") %>
    <%= submit_tag "Merge" %>
</form>
</td>
</tr>
<% end %>
</tbody>
</table>

<% content_for :form_scripts do %>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
  jQuery('#pending_types_table').dataTable({
      "aaSorting": [],
      "bPaginate": false
    });
  var all_types_data = <%= Type.full_list_with_ids(Type::Categories).to_json.html_safe %>;
  $(".parentselect2").select2({
    width: "20em",
    data: all_types_data
  });
  $(".intoselect2").select2({
    width: "20em",
    data: all_types_data
  });
});
</script>
<% end %>
