<h1>Users</h1>

<table id="user_list">
<thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Confirmed</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td style="text-align:right;"><%= user.id %></td>
    <td><%= user.name %></td>
    <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
    <td><%= user.confirmed_at ? user.confirmed_at.strftime('%Y%m%d') : "" %></td>
    <td>
      <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Switch', switch_user_path(user) %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
  jQuery('#user_list').dataTable({
    "aaSorting": [[0, "desc"]],
    "bPaginate": false
  });
});
</script>
