<h1>Imports</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Locations</th>
    <th>Autoload</th>
    <th>Muni</th>
    <th>License</th>
    <th>Status</th>
    <th>Created At</th>
    <th></th>
    <th></th>
  </tr>

<% 
lcounts = {}
Location.select("count(*), import_id").joins(:import).group(:import_id).each{ |l|
  lcounts[l.import_id] = l.count
}
Import.all.each do |import| %>
  <% 
    ofile = File.join("public","import","#{import.id}.csv")
    ifile = File.join("public","import","#{import.id}_done.csv")
    efile = File.join("public","import","#{import.id}_error.csv")
  %>
  <tr>
    <td><%= import.name %></td>
    <td><%= lcounts[import.id] %></td>
    <td><%= import.autoload ? "X" : "" %></td>
    <td><%= import.muni ? "X" : "" %></td>
    <td><%= import.license %></td>
    <td><%= File.exists?(ofile) ? "Queued" : (File.exists?(ifile) ? "Done: " : "Done (Legacy)")%>
    <%= link_to 'CSV', "/import/#{import.id}_done.csv" if File.exists? ifile %> 
    <%= link_to 'Err', "/import/#{import.id}_error.csv" if File.exists? efile %>
    </td>
    <td><%= import.created_at %>
    <td><%= link_to 'Edit', edit_import_path(import) %></td>
    <td><%= link_to 'Destroy', import, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
  </tr>
<% end %>
</table>
