<div class="rightphoto">  <!-- keep all <img> on same line with no spaces -->
  <img src="/ethan-oranges.jpg"><img src="/jeff-tree.jpg"><img src="/plums.jpg"><img src="/amittai-mulberries.jpg">
</div>

<p>
  <em><%= translate("pages.about.ff_disclaimer_html").html_safe %></em>
</p>

<p class="announcement"><b><%= translate("glossary.donate") %></b>
  <span><%= translate("pages.about.give_us_money") %></span>
</p>

<blockquote class="buttons">
  <!-- Paypal -->
  <a href="https://www.paypal.com/us/fundraiser/charity/1387793">
    <%= translate("pages.about.give_paypal") %>
  </a>
</blockquote>

<p class="announcement"><b><%= translate("pages.about.write") %></b>
  <span><%= translate("pages.about.contact_us_html").html_safe %></span>
</p>

<p class="announcement"><b><%= translate("pages.about.translate") %></b>
  <span><%= translate("pages.about.translate_for_us_html").html_safe %></span>
</p>

<h2><%= translate("pages.about.about_the_site") %></h2>

<p>
  <%= translate("pages.about.celebration").html_safe %>
</p>

<%
  cache "pages_about_stats_#{I18n.locale}" + ((params[:i18n_viz].present? and params[:i18n_viz] == 'true') ? "_i18nviz" : "")  do
    @types_count = Type.where(:id => Location.select("unnest(type_ids)")).select(:id).count
    @locations_count = Location.count
%>

<p>
  <%= translate("pages.about.more_about_html",
      :types => number_with_delimiter(@types_count),
      :locations => number_with_delimiter(@locations_count)).html_safe %>
</p>

<!-- cache end -->
<% end %>

<p>
  <%= translate("pages.about.join_us_html").html_safe %>
</p>

<h2>
  <%= translate("pages.about.staff") %>
</h2>

<div class="big-bios">
  <!-- Ethan Welty -->
  <div class="profile">
   <img class="avatar" src="/ethan_welty.jpg">
   <div class="bio">
    <i>Executive Director</i><br>
    <b>Ethan Welty</b><br>
    <a href="mailto:ethan@fallingfruit.org">ethan@fallingfruit.org</a><br>
    <span dir="ltr">Zürich</span>, <span dir="ltr">Switzerland</span><br>
    <p>
      <%= translate("pages.about.ethan_welty_bio_html").html_safe %>
    </p>
   </div>
  </div>
</div>

<h2>
  <%= translate("pages.about.directors") %>
</h2>

<div class="big-bios">
  <!-- Jeff Wanner -->
  <div class="profile">
    <img class="avatar" src="/jeff_wanner.jpg">
    <div class="bio">
      <i>President</i><br>
      <b>Jeff Wanner</b><br>
      <a href="mailto:jeff@fallingfruit.org">jeff@fallingfruit.org</a><br>
      <span dir="ltr">Boulder</span>, <span dir="ltr">Colorado</span>, <span dir="ltr">USA</span><br>
      <p>
        <%= translate("pages.about.jeff_wanner_bio_html").html_safe %>
      </p>
    </div>
  </div>
  <!-- Craig Durkin -->
  <div class="profile">
    <img class="avatar" src="/craig_durkin.jpg">
    <div class="bio">
      <b>Craig Durkin</b><br>
      <span dir="ltr">Atlanta</span>, <span dir="ltr">Georgia</span>, <span dir="ltr">USA</span><br>
      <p>
        <%= translate("pages.about.craig_durkin_bio_html").html_safe %>
      </p>
    </div>
  </div>
  <!-- Emily Sigman -->
  <div class="profile">
    <img class="avatar" src="/emily_sigman.jpg">
    <div class="bio">
      <b>Emily Sigman</b><br>
      <span dir="ltr">New Haven</span>, <span dir="ltr">Connecticut</span>, <span dir="ltr">USA</span><br>
      <p>
        <%= translate("pages.about.emily_sigman_bio_html").html_safe %>
      </p>
    </div>
  </div>
</div>

<h2>
  <%= translate("pages.about.advisors") %>
</h2>

<div class="small-bios">
  <!-- Alan Gibson -->
  <div class="profile">
    <img class="avatar" src="/alan_gibson.jpg">
    <div class="bio">
      <b>Alan Gibson</b><br>
      <span dir="ltr">Southampton</span>, <span dir="ltr">United Kingdom</span><br>
      <p>
        <%= translate("pages.about.alan_gibson_bio_html").html_safe %>
      </p>
    </div>
  </div>
  <!-- Ana Carolina de Lima -->
  <div class="profile">
    <img class="avatar" src="/ana_carolina_de_lima.jpg">
    <div class="bio">
      <b>Ana Carolina de Lima</b><br>
      <span dir="ltr">Silver City</span>, <span dir="ltr">New Mexico</span>, <span dir="ltr">USA</span><br>
      <p>
        <%= translate("pages.about.ana_carolina_bio_html").html_safe %>
      </p>
    </div>
  </div>
  <!-- Caleb Phillips -->
  <div class="profile">
    <img class="avatar" src="/caleb_phillips.jpg">
    <div class="bio">
      <b>Caleb Phillips</b><br>
      <span dir="ltr">Boulder</span>, <span dir="ltr">Colorado</span>, <span dir="ltr">USA</span><br>
      <p>
        <%= translate("pages.about.caleb_phillips_bio_html").html_safe %>
      </p>
    </div>
  </div>
  <!-- Cristina Rubke -->
  <div class="profile">
    <img class="avatar" src="/cristina_rubke.jpg">
    <div class="bio">
      <b>Cristina Rubke</b><br>
      <span dir="ltr">San Francisco</span>, <span dir="ltr">California</span>, <span dir="ltr">USA</span><br>
      <p>
        <%= translate("pages.about.cristina_rubke_bio_html").html_safe %>
      </p>
    </div>
  </div>
  <!-- David Craft -->
  <div class="profile">
    <img class="avatar" src="/david_craft.jpg">
    <div class="bio">
      <b>David Craft</b><br>
      <span dir="ltr">Cambridge</span>, <span dir="ltr">Massachusetts</span>, <span dir="ltr">USA</span><br>
      <p>
        <%= translate("pages.about.david_craft_bio_html").html_safe %>
      </p>
    </div>
  </div>
  <!-- Tristram Stuart -->
  <div class="profile">
    <img class="avatar" src="/tristram_stuart.jpg">
    <div class="bio">
      <b>Tristram Stuart</b><br>
      United Kingdom<br>
      <p>
        <%= translate("pages.about.tristram_stuart_bio_html").html_safe %>
      </p>
    </div>
  </div>
</div>

<h2>
  <%= translate("pages.about.translators") %>
</h2>

<p>
  <b>Amit Baum (<span dir="rtl">עמית באום</span>)</b> – עִברִית<br>
  <b dir="ltr">Ana Carolina de Lima</b> – Português<br>
  <b dir="ltr">Daniela Marini</b> – Español<br>
  <b>David Katzin</b> – עִברִית<br>
  <b dir="ltr">Ethan Welty</b> – Français, Español<br>
  <b dir="ltr">Heimen Stoffels</b> – Nederlands<br>
  <b dir="ltr">Jadalnia Warszawa</b> – Polski<br>
  <b dir="ltr">Karolina Hansen</b> - Polski<br>
  <b dir="ltr">Kira Dell</b> – Português, Español<br>
  <b dir="ltr">Laura Clabé</b> – Français<br>
  <b dir="ltr">Liana Welty</b> – Español<br>
  <b dir="ltr">Lola Ortiz</b> – Español<br>
  <b dir="ltr">Maria Noel Silvera</b> – Español<br>
  <b dir="ltr">Maria Rosa Puig</b> – Español<br>
  <b dir="ltr">Michela Pasquali</b> – Italiano<br>
  <b dir="ltr">Monica Breval Listán</b> – Español<br>
  <b dir="ltr">Mylène Jacquemart</b> – Deutsch, Italiano<br>
  <b dir="ltr">Parmenter Welty</b> – Español<br>
  <b dir="ltr">Raven Lyn</b> – Português<br>
  <b dir="ltr">Salomé Martin</b> – Français<br>
  <b dir="ltr">Sifis Diamantidis</b> - Ελληνικά<br>
  <b dir="ltr">Thomaz Brandão Teixeira</b> – Português<br>
  <b dir="ltr">Tim Conze</b> – Svenska<br>
  <b>Timna Raz</b> – עִברִית<br>
  <b dir="ltr">Tống Thái Vương</b> - Tiếng Việt<br>
</p>

<a href="http://choosecolorado.com/programs-initiatives/bycolorado/"><img src="/bycolorado.svg" style="height: 150px;margin: 0 0 1.5em 1.5em;display: block;float:right;" /></a>

<h2>
  <%= translate("pages.about.closing_remarks") %>
</h2>

<p>
  <%= translate("pages.about.closing_remarks_para1_html").html_safe %>
  <blockquote dir="ltr">
    Falling Fruit<br>
    535 S 44th St, Boulder, CO 80305, USA<br>
    EIN: 46-5363428
  </blockquote>
</p>

<p>
  <%= translate("pages.about.closing_remarks_para2_html").html_safe %>
</p>

<p>
  <%= translate("pages.about.closing_remarks_para3_html".html_safe) %>
</p>
