<p>
  <%= I18n.t("pages.datasets.intro_html").html_safe %>
</p>

<h2><%= I18n.t("pages.datasets.imported_datasets") %></h2>

<p>
  <%= I18n.t("pages.datasets.types_of_data") %>
</p>

<p>
  <%= I18n.t("pages.datasets.table_info") %>
</p>

<table id="import_list">
<thead>
  <tr>
    <th></th>
    <th><%= I18n.t("pages.datasets.details") %></th>
    <th><%= I18n.t("pages.datasets.type") %></th>
    <th><%= I18n.t("pages.datasets.name") %></th>
    <th><%= I18n.t("pages.datasets.locations") %></th>
    <th><%= I18n.t("pages.datasets.date_imported") %></th>
  </tr>
</thead>
<tbody>
<% 
lcounts = {}
Location.select("count(*), import_id").joins(:import).group(:import_id).each{ |l|
  lcounts[l.import_id] = l.count
}
Import.order("id").reverse.each do |import|
  ofile = File.join("public","import","#{import.id}.csv")
  ifile = File.join("public","import","#{import.id}_done.csv")
  efile = File.join("public","import","#{import.id}_error.csv")
  next if File.exists? efile or (File.exists? ofile and !File.exists? ifile)
%>
  <tr>
    <td style="text-align:center;width:25px;">
      <img src="/details_open.png" style="cursor:pointer;"/>
    </td>
    <td style="display:none;">
      <!-- To match /imports/#
      <b><%= import.name %></b><br />
      <% unless import.url.blank? %>
        <%= link_to import.url do %>
        <%= !import.url.match('google.com/maps|maps.google').nil? ? I18n.t("pages.datasets.google_map") : (!import.url.match('google.com/fusiontables').nil? ? I18n.t("pages.datasets.google_fusion_table")  : (!import.url.match('mapsengine.google').nil? ? I18n.t("pages.datasets.google_maps_engine") : import.url)) %>
        <% end %><br />
      <% end %>
      <%= import.muni ? I18n.t("pages.datasets.tree_inventory") : I18n.t("pages.datasets.community_map") %> | <%= I18n.t("pages.datasets.imported") %> <i><%= import.created_at.to_s %></i><br />
      <hr style="border:1px solid #eee;margin:1.5em 0;">
      -->
      <!-- Comments -->
      <% unless import.comments.blank? %>
        <%= raw import.comments.gsub("\n","<br>") %><br /><br />
      <% end %>
      <!-- License -->
      <% unless import.license.blank? %>
        <%= raw import.license.gsub("\n","<br>") %>
      <% else %>
        <i><%= I18n.t("pages.datasets.no_license").html_safe %></i>.
      <% end %>
    </td>
    <td>
      <%= import.muni ? I18n.t("pages.datasets.tree_inventory") : I18n.t("pages.datasets.community_map") %>
    </td>
    <td>
	    <% unless import.url.blank? %>
	      <a href="<%= import.url %>"><%= import.name %></a>
	    <% else %>
	      <%= import.name %>
	    <% end %>
    </td>
    <td><%= lcounts[import.id] %></td>
    <td><%= import.created_at.strftime("%Y-%m-%d") %></td>
  </tr>
<% end %>
</tbody>
</table>

<style>
.details {
  padding-bottom: 1em !important;
  background-color: #FAFAFA;
}
</style>

<script type="text/javascript" charset="utf-8">
function fnFormatDetails ( oTable, nTr )
{
    var aData = oTable.fnGetData( nTr );
    
    var sOut = '<div style="margin:0 auto 0 42px;padding:10px;">';
    if (aData[1].length > 0) {  
      sOut += aData[1];	
    }
    sOut += '</div>';
    return sOut;
}

jQuery(document).ready(function(){
    var oTable = jQuery('#import_list').dataTable({
      "aaSorting": [[5,"desc"]],
      "bPaginate": false,
      "aoColumnDefs": [
            { "bSortable": false, "aTargets": [ 0 ] },
            { "bVisible": false, "aTargets": [ 1 ] }
        ]
    });
    
    $('#import_list tbody td img').live('click', function () {
        var nTr = $(this).parents('tr')[0];
        if ( oTable.fnIsOpen(nTr) )
        {
            /* This row is already open - close it */
            this.src = "/details_open.png";
            oTable.fnClose( nTr );
        }
        else
        {
            /* Open this row */
            this.src = "/details_close.png";
            oTable.fnOpen( nTr, fnFormatDetails(oTable, nTr), 'details' );
        }
    } );
    
});
</script>