<p>
Falling Fruit is built on public data and the generosity of urban foragers willing to share their finds with others. We want urban food sources to reach as many people as possible, and we believe that everyone should have equal access to the fruits of our collective labor. In the spirit of open data, behold! The entire database:
</p>

<% if File.exists?(Rails.root.join("public","data.csv.bz2")) %>
		<blockquote>
		<a href="/data.csv.bz2">data.csv.bz2</a> (<%= File.size(Rails.root.join("public","data.csv.bz2"))/(1024**2) %> MB)<br>
		<i>last updated <%= File.mtime(Rails.root.join("public","data.csv.bz2")).utc.strftime "%Y-%m-%d %H:%M:%S %Z" %></i>
		</blockquote>
<% else %>
		<blockquote>
		<em>Data currently unavailable. Check back later or <a href="mailto:info@fallingfruit.org">contact us</a>.</em>
		</blockquote>
<% end %>

<p>
But beware. Once uncompressed, the data becomes a huge file that causes most spreadsheet software to implode. Only those interested in manipulating the data in it's entirety need to go this route. For most, a better alternative is to selectively retrieve points of interest using the download tool integrated into the <a href="/">map</a>.
</p>

<p>
If you are interested in using the data in your own project, especially for commercial applications, we suggest you contact the original sources (provided as the import name and URL in the data). When not otherwise specified, data is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons (Attribution, Noncommercial, Share alike)</a> license. This means that you are free to use and distribute the data so long as you preserve the original author/source attribution and do not use it (without permission) for commercial applications.
</p>

<p>
It should go without saying that we take no responsibility for the accuracy of the data - it is provided as is, <i>caveat emptor</i>. If you do something cool with the data, please <a href="mailto:feedback@fallingfruit.org">let us know</a>!
</p>

<h2>Summary of Sources</h2>

<% 
cache 'pages_data_type_summary_table' do
  @types = LocationsType.joins("LEFT OUTER JOIN types ON types.id=locations_types.type_id").
  select("COALESCE(types.name,locations_types.type_other) as cname, types.id, scientific_name, scientific_synonyms, usda_symbol, wikipedia_url, name, synonyms, count(*)").
  group("cname,types.id, scientific_name, scientific_synonyms, usda_symbol, wikipedia_url, name, synonyms").order("cname")
  @lt_count = LocationsType.count
%>

<p>
The database currently contains <%= number_to_human(@types.length) %> different types of edibles (most, but not all, are plant species) distributed over <%= number_with_delimiter(@lt_count) %> locations. For each type, the following table lists common name(s), scientific name(s), prevalence, and links to Wikipedia and the U.S. Department of Agriculture when available.
</p>
<br/>

<table id="type_summary">
<thead>
<tr>
 <th>Common name</th>
 <th>Scientific name</th>
 <th>Links</th>
 <th>Count</th>
</tr>
</thead>
<tbody>
<% @types.each{ |t| %>
<tr>
<td>
	<%= t.cname unless t.cname.blank? %>
	<%= "(#{t["synonyms"]})" unless t["synonyms"].blank? %>
</td>
<td>
<i><%= t["scientific_name"] unless t["scientific_name"].blank? %>
<%= "(#{t["scientific_synonyms"]})" unless t["scientific_synonyms"].blank? %>
</i>
</td>
<td>
<% unless t["wikipedia_url"].blank? %>
 <a href="<%= t["wikipedia_url"] %>"><img class="link_icon" src="/wikipedia_icon.png"></a>
<% end %>
<% unless t["usda_symbol"].blank? %>
 <a href="http://plants.usda.gov/java/profile?symbol=<%= t["usda_symbol"] %>"><img class="link_icon" src="/usda_icon.png"></a>
<% end %>
</td>
<td style="test-align: right;"><%= t["count"] %></td>
</tr>
<% } %>
</tbody>
</table>

<!-- cache ends -->
<% end %>

<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
    jQuery('#type_summary').dataTable({
      "aaSorting": [[3,"desc"]],
      "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
						"iDisplayLength" : -1
    });
});
</script>
