<h2><%= I18n.t("pages.sharing.grow_pick_and_distribute").html_safe %></h2>

<p>
<%= I18n.t("pages.sharing.intro_html").html_safe %>
</p>

<script>
$(function() {
  $( "#countries" ).tabs({
    heightStyle: "auto"
  });
});
</script>

<div id="countries">
<ul>
  <li><a href="#Global"><%= I18n.t("glossary.global") %></a></li>
  <li><a href="#Australia"><%= I18n.t("glossary.australia") %></a></li>
  <li><a href="#Canada"><%= I18n.t("glossary.canada") %></a></li>
  <li><a href="#Fiji"><%= I18n.t("glossary.fiji") %></a></li>
  <li><a href="#France"><%= I18n.t("glossary.france") %></a></li>
  <li><a href="#Italy"><%= I18n.t("glossary.italy") %></a></li>
  <li><a href="#United_Kingdom"><%= I18n.t("glossary.united_kingdom") %></a></li>
  <li><a href="#United_States"><%= I18n.t("glossary.united_states") %></a></li>
</ul>

<div id="Global"><li class="active"><a href="http://www.foodnotbombs.net/">Food Not Bombs</a></li>
<li class="active"><a href="http://www.ftpf.org/">Fruit Tree Planting Foundation</a> <a href="https://www.facebook.com/fruittreeplantingfoundation"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/FTPFdotorg"><img class="social" src="/social/twitter_sq.svg" /></a></li>
<li class="active"><a href="http://incredibleediblenetwork.org.uk/">Incredible Edible Network</a> <a href="https://www.facebook.com/IncredibleEdibleNetwork"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://www.transitionnetwork.org/">Transition Network</a> <a href="https://www.facebook.com/transitionnetwork"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/transitiontowns"><img class="social" src="/social/twitter_sq.svg" /></a></li></div>
<div id="Australia"><ul>Tasmania<ul>Burnie<li class="active"><a href="http://producetothepeople.weebly.com/">Produce to the People Tasmania</a> <a href="https://www.facebook.com/producetothepeopletasmania"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/pttptasmania"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul></ul>
<ul>Victoria<ul>Castlemaine<li class="active"><a href="http://www.cch.org.au/">Castlemaine Community House</a> (<a href="http://www.cch.org.au/growing-abundance/">Growing Abundance</a>)</li></ul>
<ul>Melbourne<li class="inactive"><a href="http://sharingabundance.org/">Sharing Abundance</a></li></ul></ul></div>
<div id="Canada"><ul>Alberta<ul>Calgary<li class="active"><a href="http://www.calgaryharvest.com/">Calgary Urban Harvest Project</a> <a href="https://www.facebook.com/CalgaryHarvest"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://www.calgary.ca/">City of Calgary</a> (<a href="http://www.calgary.ca/CSPS/Parks/Pages/Programs/Community-orchards.aspx">Community Orchards</a>)</li></ul>
<ul>Edmonton<li class="active"><a href="http://operationfruitrescue.org/">Operation Fruit Rescue Edmonton</a></li></ul></ul>
<ul>British Columbia<ul>Abbotsford<li class="active"><a href="http://fvgleaners.org/">Fraser Valley Gleaners</a> <a href="https://www.facebook.com/pages/Fraser-Valley-Gleaners/106566209462738?fref=ts"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Courtenay<li class="active"><a href="http://www.lushvalley.org/">LUSH Valley Food Action Society</a> (<a href="http://www.lushvalley.org/fruit-tree-program.html">Fruit Tree Program</a>)</li></ul>
<ul>Kelowna<li class="active"><a href="http://www.fruittreeproject.com">Okanagan Fruit Tree Project</a> <a href="https://www.facebook.com/OkanaganFruitTreeProject/"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Nelson<li class="active"><a href="http://earthmatters.ca/">Earth Matters</a> (<a href="http://earthmatters.ca/youth/harvest-rescue-project.html">Harvest Rescue Project</a>)</li></ul>
<ul>North Vancouver<li class="active"><a href="http://www.northshorefruittreeproject.ca/">North Shore Fruit Tree Project</a></li></ul>
<ul>Penticton<li class="inactive"><a href="https://www.facebook.com/PentictonFruitTreeProject">Penticton Fruit Tree Project <img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Richmond<li class="active"><a href="http://www.richmondfoodsecurity.org/">Richmond Food Security Society</a> (<a href="http://www.richmondfoodsecurity.org/2012/fruit-tree-project/">Fruit Tree Project</a>) <a href="https://www.facebook.com/richmondfood"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Roberts Creek<li class="active"><a href="http://scfruittree.org/">Sunshine Coast Fruit Tree Project</a></li></ul>
<ul>Sooke<li class="active"><a href="http://sookefoodchi.ca/events/2012-sooke-region-fruit-tree-project/">Sooke Region Food Chi</a> (<a href="http://sookefoodchi.ca/events/2012-sooke-region-fruit-tree-project/">Fruit Tree Project</a>) <a href="https://www.facebook.com/pages/Sooke-Region-Food-CHI/138282456260089?fref=ts"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Squamish<li class="active"><a href="http://squamishcan.net/">Squamish Climate Action Network</a> (<a href="http://squamishcan.net/projects/current-projects/fruit-tree-project/">Fruit Tree Project</a>)</li></ul>
<ul>Summerland<li class="inactive"><a href="https://www.facebook.com/pages/Summerland-Fruit-Tree-Project/354513774624433">Summerland Fruit Tree Project <img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Vancouver<li class="active"><a href="http://ediblegardenproject.com/">Edible Garden Project</a> (<a href="http://www.ediblegardenproject.com/what-we-do/sharing-backyard-bounty/">Sharing The Bounty</a>)</li>
<li class="active"><a href="https://www.foodbank.bc.ca/">Greater Vancouver Food Bank</a> (<a href="https://www.foodbank.bc.ca/programs/community-angel-food-runner-program">Community Angel Food Runners</a>) <a href="https://www.facebook.com/VanFoodBank"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/VanFoodBank"><img class="social" src="/social/twitter_sq.svg" /></a></li>
<li class="active"><a href="https://vancouverfruittree.com/">Vancouver Fruit Tree Project</a></li></ul>
<ul>Victoria<li class="active"><a href="http://www.victoria.ca/EN/index.html">City of Victoria</a> (<a href="http://www.victoria.ca/EN/main/community/sustainability/social/urban_food_production/community-orchards.html">Community Orchards Pilot Program</a>)</li>
<li class="active"><a href="http://fernwoodnrg.ca/">Fernwood Neighborhood Resource Group</a> <a href="https://www.facebook.com/fernwoodnrg"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/fernwoodnrg"><img class="social" src="/social/twitter_sq.svg" /></a></li>
<li class="active"><a href="http://lifecyclesproject.ca/">LifeCycles</a> (<a href="http://lifecyclesproject.ca/initiatives/fruit_tree/">Fruit Tree Project</a>) <a href="https://www.facebook.com/pages/LifeCycles-Project-Society/202655149841805?fref=ts"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://www.okanagangleaners.ca/">Okanagan Gleaners</a> <a href="https://www.facebook.com/profile.php?id=100008283246459&fref=ts"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://vicwestfoodsecurity.org/">Vic West Food Security Collective</a></li></ul></ul>
<ul>Manitoba<ul>Brandon<li class="active"><a href="http://fruitsharebrandon.ca/">Fruit Share Brandon</a> <a href="https://www.facebook.com/pages/Fruit-Share-Brandon/252799274865454?fref=ts"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Winnipeg<li class="active"><a href="http://www.fruitshare.ca/">Fruit Share Manitoba</a></li>
<li class="active"><a href="http://sustainablesouthosborne.com/">Sustainable South Osborne</a> (<a href="http://sustainablesouthosborne.com/communityorchard/">Community Orchard</a>)</li></ul></ul>
<ul>Newfoundland & Labrador<ul>St John's<li class="active"><a href="http://rootcellarsrock.ca/2011/08/st-johns-fruit-tree-project/">St. John’s Fruit Tree Project</a></li></ul></ul>
<ul>Ontario<ul>Guelph<li class="inactive"><a href="http://www.appleseedcollective.org/index.php?option=com_content&task=view&id=29&Itemid=42">Guelph Fruit Tree Project</a></li>
<li class="active"><a href="http://www.transitionguelph.org/">Transition Guelph</a> (<a href="http://guelphcommunityorchard.ca/">Guelph Community Orchard</a>) <a href="https://www.facebook.com/TransitionGuelph"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/transitnguelph"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul>
<ul>Halton<li class="active"><a href="http://www.oakvilleorganicmarket.com/Growing_-_Sharing/growing_-_sharing.html">Growing & Sharing Food in Halton</a></li></ul>
<ul>Hamilton<li class="active"><a href="http://hamiltonfruittreeproject.blogspot.com/">Hamilton Fruit Tree Project</a></li></ul>
<ul>Malton<li class="active"><a href="http://www.mississaugafruittree.org/">Mississauga Fruit Tree Organization</a> <a href="https://www.facebook.com/mississaugafruittree"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Niagara Falls<li class="active"><a href="http://www.thegardenofeating-niagara.com/">The Garden of Eating - Niagara</a></li></ul>
<ul>Ottowa<li class="active"><a href="http://ottawa.hiddenharvest.ca/">Hidden Harvest Ottowa</a></li></ul>
<ul>Sudbury<li class="active"><a href="http://fruitforall.ca/">Fruit for All Sudbury</a> <a href="https://www.facebook.com/fruitforallsudbury"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Toronto<li class="active"><a href="http://communityorchard.ca/">Ben Nobleman Park Community Orchard</a></li>
<li class="active"><a href="http://www.notfarfromthetree.org/">Not Far From The Tree</a></li></ul>
<ul>Wilfred Laurier University<li class="active"><a href="http://www.kwurbanharvester.org/contact-us">Kitchener-Waterloo Urban Harvester</a> <a href="https://www.facebook.com/groups/10563736723/?fref=ts"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul></ul>
<ul>Quebec<ul>Montreal<li class="active"><a href="http://santropolroulant.org/">Santropol Roulant</a> (<a href="http://santropolroulant.org/what-we-do/urban-agriculture/les-fruits-defendus/">Les Fruits Défendus</a>) <a href="https://www.facebook.com/sroulant"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/SRoulant"><img class="social" src="/social/twitter_sq.svg" /></a></li>
<li class="active"><a href="http://vergersdecheznous.wordpress.com/">Vergers de Chez Nous</a></li></ul></ul></div>
<div id="Fiji"><li class="inactive"><a href="https://www.facebook.com/pages/Fiji-Fruit-Tree-Project/261760267773">Fiji Fruit Tree Project <img class="social" src="/social/facebook_sq.svg" /></a></li></div>
<div id="France"><ul><ul>Paris<li class="active"><a href="http://www.lesfruitsduvoisin.org/">Les Fruits du Voisin</a> <a href="https://www.facebook.com/lesfruitsduvoisin"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul></div>
<div id="Italy"><ul><ul>Rome<li class="active"><a href="http://www.fruttaurbana.org/">Frutta Urbana</a> <a href="https://www.facebook.com/fruttaurbana"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul></ul></div>
<div id="United_Kingdom"><li class="active"><a href="http://www.abundancenetwork.org.uk/">Abundance Network</a></li>
<li class="active"><a href="http://www.feeding5k.org/">Feeding the 5000</a> (<a href="http://www.feeding5k.org/gleaning.php">Gleaning Network UK</a>)</li>
<li class="active"><a href="http://incredibleediblenetwork.org.uk/groups">Incredible Edible Network UK</a> <a href="https://www.facebook.com/IncredibleEdibleNetwork"><img class="social" src="/social/facebook_sq.svg" /></a></li><br/>
<ul>England<ul>Belsize<li class="active"><a href="http://www.transitionbelsize.org.uk/">Transition Belsize</a> (<a href="http://www.transitionbelsize.org.uk/projects/abundance">Abundance Belsize</a>) <a href="https://twitter.com/TTBelsize"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul>
<ul>Bristol<li class="active"><a href="http://ediblefutures.org/">Edible Futures</a> (<a href="http://ediblefutures.org/">Community Plantings</a>)</li>
<li class="active"><a href="http://ediblebristol.org.uk/">Incredible Edible Bristol</a> <a href="https://www.facebook.com/ediblebristol"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Cambridge<li class="active"><a href="http://www.transitioncambridge.org/">Transition Cambridge</a> (<a href="http://www.transitioncambridge.org/thewiki/ttwiki/pmwiki.php?n=TTFood.HomePage">Food Group</a>)</li></ul>
<ul>Chingford<li class="active"><a href="http://www.organiclea.org.uk">Organic Lea</a></li></ul>
<ul>Dunstable<li class="active"><a href="https://www.facebook.com/pages/Incredible-Edible-Dunstable/246156608855949">Incredible Edible Dunstable <img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Hitchin<li class="active"><a href="https://www.facebook.com/IncredibleEdibleHitchin">Incredible Edible Hitchin <img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Husthwaite<li class="inactive"><a href="http://www.orchardsofhusthwaite.co.uk/">Orchards of Husthwaite Co-Operative</a></li></ul>
<ul>Ipswich<li class="active"><a href="https://www.facebook.com/IncredibleIpswich?fref=ts">Incredible Edible Ipswich <img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Keyworth<li class="active"><a href="http://keyworthabundance.btck.co.uk/">Abundance Keyworth</a> <a href="https://www.facebook.com/pages/Keyworth-Abundance/392854720811978"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Leeds<li class="active"><a href="http://www.leedsurbanharvest.org.uk/">Leeds Urban Harvest</a></li></ul>
<ul>London<li class="active"><a href="http://www.abundancelondon.com/">Abundance London</a></li>
<li class="active"><a href="http://www.crystalpalacetransition.org.uk/">Crystal Palace Transition Town</a> <a href="https://www.facebook.com/groups/118354028197684/"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/CrystalPalaceTT"><img class="social" src="/social/twitter_sq.svg" /></a></li>
<li class="inactive"><a href="http://hackneyharvest.com/">Hackney Harvest</a> <a href="https://www.facebook.com/pages/Hackney-Harvest/235496696469471"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://www.hoipolloi.btck.co.uk/">Hoi Polloi</a></li>
<li class="active"><a href="http://www.incredibleediblelambeth.org/">Incredible Edible Lambeth</a> <a href="https://www.facebook.com/pages/Incredible-Edible-Lambeth/112471948861301"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://www.incredible-edible-southwark.org.uk/">Incredible Edible Southwark</a> <a href="https://www.facebook.com/IncredibleEdibleSouthwark"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/EdibleSouthwark"><img class="social" src="/social/twitter_sq.svg" /></a></li>
<li class="active"><a href="http://mapra.org.uk/">Mapesbury Residents Association</a> (<a href="http://mapra.org.uk/comm-harvest.htm">Harvesting Group</a>)</li>
<li class="active"><a href="http://seplentyfree.blogspot.co.uk/">SE Plenty Free</a></li>
<li class="active"><a href="http://thelondonorchardproject.org/">The Urban Orchard Project</a></li>
<li class="active"><a href="http://ttkensaltokilburn.ning.com/">Transition Kensal to Kilburn</a> (<a href="http://ttkensaltokilburn.ning.com/group/fruit">Fruit Harvesters</a>)</li>
<li class="active"><a href="http://www.ttkingston.org/">Transition Kingston</a> (<a href="http://www.ttkingston.org/groups-and-projects/abundance/">Abundance Kingston</a>)</li>
<li class="active"><a href="http://ttkensaltokilburn.ning.com/group/ttwillesden">Transition Willesden</a></li>
<li class="inactive"><a href="http://www.unionstreetorchard.org.uk/">Union Street Urban Orchard</a></li>
<li class="active"><a href="http://www.urbanharvest.org.uk/">Urban Harvest</a></li>
<li class="active"><a href="http://westealingabundancew13.wordpress.com/">West Ealing Abundance</a></li></ul>
<ul>Manchester<li class="active"><a href="http://abundancemanchester.wordpress.com">Abundance Manchester</a></li></ul>
<ul>Nottingham<li class="active"><a href="http://abundancenottingham.wordpress.com/">Abundance Nottingham</a></li>
<li class="inactive"><a href="https://www.facebook.com/groups/1414534008760426/">Abundance Sherwood <img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Oxford<li class="active"><a href="http://abundanceoxford.wordpress.com/">Abundance Oxford</a> <a href="https://www.facebook.com/groups/abundanceoxford"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://incredibleedibleoxford.wordpress.com/">Incredible Edible Oxford</a> <a href="https://www.facebook.com/incredibleedibleoxford"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Reading<li class="active"><a href="http://readingabundance.weebly.com/">Abundance Reading</a></li></ul>
<ul>Sheffield<li class="active"><a href="http://growsheffield.com/">Grow Sheffield</a> (<a href="http://sheffieldabundance.wordpress.com/">Sheffield Abundance</a>)</li></ul>
<ul>Stratford-upon-Avon<li class="active"><a href="http://www.transitionstratford.com/">Transition Stratford</a> <a href="https://www.facebook.com/transition.stratford"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/TT_Stratford"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul>
<ul>Ulverston<li class="active"><a href="https://www.facebook.com/IncredibleEdibleUlverston">Incredible Edible Ulverston <img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>West Bridgford<li class="active"><a href="http://transitionwb.blogspot.co.uk/2011/10/busy-time-for-abundance-west-bridgford.html">West Bridgford in Transition</a></li></ul>
<ul>Wimbledon<li class="active"><a href="http://www.abundancewimbledon.com/">Abundance Wimbledon</a></li></ul></ul>
<ul>Scotland<ul>Glasgow<li class="active"><a href="http://www.commonwealthorchard.com/">Commonwealth Orchard</a></li></ul></ul>
<ul>Wales<ul>Cardiff<li class="active"><a href="http://www.orchardcardiff.org.uk/">Orchard Cardiff</a> <a href="https://www.facebook.com/pages/Orchard-Cardiff/390870577639789"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Haverfordwest<li class="active"><a href="http://www.transitionhaverfordwest.org.uk/">Transition Haverfordwest</a> (<a href="http://www.transitionhaverfordwest.org.uk/our-projects/orchard-mawr/">Orchard Mawr</a>)</li></ul>
<ul>Penarth<li class="active"><a href="http://gpgpenarth.org.uk/">Gwyrddio Penarth Greening</a> (<a href="http://gpgpenarth.org.uk/2011/06/10/harvest-penarth/">Harvest Penarth</a>)</li></ul></ul></div>
<div id="United_States"><li class="active"><a href="http://cropmob.org/">Crop Mob</a></li>
<li class="active"><a href="http://www.endhunger.org/">Society of Saint Andrew</a>, a large gleaning organization with offices across the United States, has generously offered to help our users pick and distribute food to charity. Contact them if you know of trees with an abundance of food on your own or public land.</li><br/>
<ul>Alabama<ul>Birmingham<li class="active"><a href="http://magiccityharvest.org/">Magic City Harvest</a> <a href="https://www.facebook.com/pages/Magic-City-Harvest/137604622950712"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul></ul>
<ul>Arizona<ul>Phoenix<li class="active"><a href="http://www.firstfoodbank.org/">St. Mary's Food Bank Alliance</a> (<a href="http://www.firstfoodbank.org/news/gleaners-needed-help-st-marys-save-this-winters-citrus-crop/3348">Citrus Gleaners</a>)</li></ul>
<ul>Scotsdale<li class="active"><a href="http://wastenotaz.org/">Waste Not</a> <a href="https://www.facebook.com/WasteNotInc"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/wastenotaz"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul>
<ul>Tucson<li class="active"><a href="http://www.desertharvesters.org/">Desert Harvesters</a></li>
<li class="active"><a href="http://iskashitaa.blogspot.com/">Iskashitaa</a></li></ul></ul>
<ul>Arkansas<li class="active"><a href="http://potluckfoodrescue.org/">Potluck Food Rescue</a> <a href="https://www.facebook.com/pages/Potluck/121994754550429"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>California<ul>Alameda<li class="active"><a href="http://alamedabackyardgrowers.org/">Alameda Backyard Growers</a> (<a href="http://alamedabackyardgrowers.org/projects/alameda-fruit-gleaning-initiative/">Project Pick</a>)</li>
<li class="inactive"><a href="http://alamedafruitexchange.blogspot.com/">Alameda Fruit Exchange</a></li></ul>
<ul>Berkeley<li class="active"><a href="http://northberkeleyharvest.org/">North Berkeley Harvest</a></li>
<li class="active"><a href="http://www.spiralgardens.org/">Spiral Gardens</a> (<a href="http://www.spiralgardens.org/">Community Harvest Project</a>) <a href="https://www.facebook.com/spiralgardens"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://berkeleygleaners.awardspace.info/">The Berkeley Gleaners</a></li></ul>
<ul>Beverly Hills<li class="active"><a href="http://www.treepeople.org/">Tree People</a> (<a href="http://www.treepeople.org/fruit-tree-program">Fruit Tree Program</a>)</li></ul>
<ul>Clayton<li class="active"><a href="http://www.thelemonlady.blogspot.com/">The Lemon Lady Foundation</a> <a href="https://www.facebook.com/annaandava"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Coachella<li class="active"><a href="http://www.hiddenharvest.org/">Hidden Harvest</a></li></ul>
<ul>Contra Costa County<li class="active"><a href="http://whiteponyexpress.org/">White Pony Express</a> <a href="https://www.facebook.com/whiteponyexpress"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Encinitas<li class="active"><a href="http://donatedontdump.net/">Donate Don't Dump</a> <a href="https://www.facebook.com/DonateDontDump"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/Don8DontDumpOrg"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul>
<ul>Humboldt County<li class="active"><a href="http://www.foodforpeople.org/">Food for People</a> <a href="https://www.facebook.com/FoodforPeopleInc"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/FoodforPeople"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul>
<ul>Irvine<li class="active"><a href="http://www.ocgp.org/">Orange County Great Park</a> (<a href="http://www.ocgp.org/visit/agricultural-programs-2-2/">Agricultural Programs</a>)</li>
<li class="active"><a href="http://feedoc.org/">Second Harvest Food Bank</a></li></ul>
<ul>Long Beach<li class="active"><a href="https://www.facebook.com/groups/409680845785979/?ref=br_rs">Neighborhood Fruit 90806 <img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://socalharvest.org/">SoCal Harvest</a> <a href="https://www.facebook.com/SocalHarvest"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Los Angeles<li class="active"><a href="http://fallenfruit.org">Fallen Fruit</a></li>
<li class="active"><a href="http://foodforward.org/">Food Forward</a> (<a href="http://foodforward.org/get-involved/backyard-harvesting/">Bakyard Harvesting</a>)</li>
<li class="active"><a href="https://www.facebook.com/Momadonnas">Mamadonnas <img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Marin County<li class="active"><a href="http://extrafood.org/">Extra Food</a> <a href="https://www.facebook.com/extrafood.org"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/ExtraFoodDotOrg"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul>
<ul>Mill Valley<li class="active"><a href="http://opengardenproject.blogspot.com/">Marin Open Garden Project</a></li></ul>
<ul>Modesto<li class="active"><a href="http://www.centerforhumanservices.org/">Center for Human Services</a> (<a href="http://www.centerforhumanservices.org/harvesting-futures.html">Harvesting Futures</a>)</li></ul>
<ul>Oakland<li class="active"><a href="http://edibleparksoakland.com/">Edible Parks Task Force</a></li>
<li class="active"><a href="http://forageoakland.wordpress.com/">Forage Oakland</a></li>
<li class="active"><a href="http://www.growingtogetherproject.org/">Growing Together</a> (<a href="http://www.growingtogetherproject.org/#!oakland-fruit/cyy1">Oakland Fruit</a>) <a href="https://www.facebook.com/FruitTreesGrowingTogether"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://www.peopleunited.org/">PUEBLO</a> (<a href="http://www.peopleunited.org/uyh/">Urban Youth Harvest</a>)</li></ul>
<ul>Ocean Beach<li class="active"><a href="https://www.facebook.com/groups/1506913566211223/">Harvest OB <img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Orangevale<li class="active"><a href="http://harvestfairvale.weebly.com/">Harvest Fairvale</a> <a href="https://www.facebook.com/harvestorangevale"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Pasadena<li class="active"><a href="https://www.facebook.com/ATBFruitHarvest?ref=br_rs">Neighborhood Fruit Harvest Project <img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Petaluma<li class="active"><a href="http://www.petalumabounty.org/">Petaluma Bounty</a></li></ul>
<ul>Point Reyes Station<li class="active"><a href="http://www.marinorganic.org/">Marin Organic</a></li></ul>
<ul>Sacramento<li class="active"><a href="http://www.seniorgleaners.org/">Senior Gleaners</a></li>
<li class="active"><a href="https://www.soilborn.org/">Soil Born Farms</a> (<a href="https://www.soilborn.org/index.php?option=com_content&view=category&layout=blog&id=89&Itemid=84">Harvest Sacramento</a>) <a href="https://www.facebook.com/HarvestSac?ref=br_rs"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>San Diego<li class="active"><a href="http://backyard-produce-project.wikispaces.com/The+Backyard+Produce+Project">Backyard Produce Project</a> <a href="https://www.facebook.com/pages/Backyard-Produce-Project/153765357990546?sk=timeline"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://www.cropswapsandiego.com/">CropSwap</a> <a href="https://www.facebook.com/CropSwap"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/ProduceGood"><img class="social" src="/social/twitter_sq.svg" /></a></li>
<li class="active"><a href="https://www.facebook.com/groups/425947397561463">Dumpster Diving San Diego <img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://www.harvestcrops.org/">Harvest CROPS</a></li>
<li class="active"><a href="www.housingcollaborative.org">Housing Opportunities Collaborative</a> (<a href="https://www.facebook.com/groups/317156755034908/?ref=br_rs">Harvesting Opportunities Collaborative</a>) <a href="https://www.facebook.com/groups/317156755034908/?ref=br_rs"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://www.sandiegoroots.org/">San Diego Roots Sustainable Food Project</a> (<a href="http://www.sandiegoroots.org/harvesting.php">Harvesting San Diego</a>) <a href="https://www.facebook.com/wildwillowfarm"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/WildWillowFarm"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul>
<ul>San Francisco<li class="active"><a href="http://www.foodrunners.org/">Food Runners</a></li>
<li class="active"><a href="http://foragesf.com/">Forage SF</a></li>
<li class="active"><a href="http://freefarmstand.org/">Free Farm Stand</a> <a href="https://www.facebook.com/freefarmstand"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://producetothepeople.org/">Produce to the People</a> <a href="https://www.facebook.com/pages/Produce-to-the-People/106036182362"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://www.sfdpw.org">San Francisco Department of Public Works</a> (<a href="http://www.sfdpw.org/index.aspx?page=1243">Urban Harvesting Program</a>)</li>
<li class="active"><a href="http://www.sfenvironment.org/">San Francisco Department of the Environment</a> (<a href="http://www.sfenvironment.org/article/urban-forestry-urban-agriculture/urban-orchards">Urban Orchards Project</a>)</li>
<li class="active"><a href="http://www.theurbanfarmers.org/">The Urban Farmers</a></li></ul>
<ul>San Jose<li class="active"><a href="http://www.villageharvest.org/">Village Harvest</a></li></ul>
<ul>San Luis Obispo<li class="active"><a href="http://www.gleanslo.org/">GleanSLO</a></li></ul>
<ul>San Mateo & Santa Clara Counties<li class="active"><a href="http://www.peninsulafoodrunners.org/">Peninsula Food Runners</a> <a href="https://www.facebook.com/PeninsulaFoodRunners"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/foodrunners"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul>
<ul>San Ynez<li class="active"><a href="http://www.syvfvr.org/">San Ynez Fruit & Vegetable Rescue</a> <a href="https://www.facebook.com/home.php?sk=group_160117380721869"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Santa Ana<li class="active"><a href="http://theharvestclub.org/">The Harvest Club</a></li></ul>
<ul>Santa Barbara<li class="active"><a href="http://www.foodbanksbc.org">Foodbank Santa Barbara County</a> (<a href="http://www.foodbanksbc.org/programs/backyard-bounty/">Backyard Bounty</a>)</li></ul>
<ul>Santa Cruz<li class="active"><a href="http://www.fruitcruz.org/">The Santa Cruz Fruit Tree Project</a></li></ul>
<ul>Sonoma County<li class="active"><a href="http://farmtopantry.org/">Farm to Pantry</a></li></ul>
<ul>Tulare<li class="active"><a href="http://www.behealthytulare.com">Be Healthy Tulare</a> (<a href="http://www.behealthytulare.com/project-compassion/backyard-harvest">Tulare County Harvest</a>) <a href="https://www.facebook.com/behealthytulare/"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/BeHealthyTulare"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul>
<ul>Vallejo<li class="active"><a href="http://food-rescue.com/">Food Rescue</a></li></ul></ul>
<ul>Colorado<ul>Basalt<li class="active"><a href="http://crmpi.org/">Central Rocky Mountain Permaculture Institute</a></li></ul>
<ul>Boulder<li class="active"><a href="http://www.boulderfoodrescue.org/">Boulder Food Rescue</a></li>
<li class="active"><a href="http://fruitrescue.org">Community Fruit Rescue</a></li>
<li class="active"><a href="http://www.naropa.edu/">Naropa University</a> (<a href="http://www.naropa.edu/academics/snss/ug/environmental-studies-ba/permaculture/permaculture-projects.php">Permaculture Program</a>)</li></ul>
<ul>Colorado Springs<li class="active"><a href="http://www.coloradospringsfoodrescue.org/">Colorado Springs Food Rescue</a></li></ul>
<ul>Denver<li class="active"><a href="http://www.denverfoodrescue.org/">Denver Food Rescue</a> <a href="https://www.facebook.com/pages/Denver-Food-Rescue/489756777722937?ref=tn_tnmn"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/DenverFoodRescu"><img class="social" src="/social/twitter_sq.svg" /></a></li>
<li class="active"><a href="http://yardharvest.org/">Denver Yard Harvest</a></li>
<li class="active"><a href="http://foragedfeast.org/">Foraged Feast</a></li>
<li class="active"><a href="http://produceforpantries.com/">Produce for Pantries</a> <a href="https://www.facebook.com/produceforpantries"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://www.urbiculturecommunityfarms.org/">Urbiculture Community Farms</a></li></ul>
<ul>Fort Collins<li class="active"><a href="http://www.thegrowingproject.org/">The Growing Project</a> (<a href="http://www.thegrowingproject.org/food-finders.html">Food Finders</a>) <a href="https://www.facebook.com/GrowingProject"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Littleton<li class="active"><a href="http://www.feedingmany.org/">Feeding Many</a> (<a href="http://www.feedingmany.org/community-fruit-orchard-and-garden">WaterStone Community Orchard & Garden</a>)</li></ul>
<ul>Longmont<li class="active"><a href="http://www.foodshedproductions.org/index.html">Foodshed Productions</a></li></ul>
<ul>Manitou Springs<li class="active"><a href="http://www.pikespeakpermaculture.org/">Pikes Peak Permaculture</a> (<a href="http://www.pikespeakpermaculture.org/what-is-a-permaculture-food-forest-garden/">Crystal Valley Permaculture Food Forest Demonstration Garden</a>)</li></ul></ul>
<ul>Connecticut<ul>Norwalk<li class="active"><a href="http://communityplates.org/">Community Plates</a> <a href="https://www.facebook.com/CommunityPlates"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/communityplates"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul></ul>
<ul>District of Columbia<ul>Washington<li class="active"><a href="http://www.dccentralkitchen.org/">DC Central Kitchen</a> (<a href="http://www.dccentralkitchen.org/foodrecycling/">Food Recycling</a>) <a href="https://www.facebook.com/dccentralkitchen"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/dcck"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul></ul>
<ul>Florida<ul>Sarasota<li class="active"><a href="http://www.transitionsrq.org/">Transition Sarasota</a> (<a href="http://www.transitionsrq.org/food/gleaning/">Suncoast Gleaning Project</a>)</li></ul></ul>
<ul>Georgia<ul>Atlanta<li class="active"><a href="http://www.acfb.org/">Atlanta Community Food Bank</a> (<a href="http://www.acfb.org/about/our-programs/atlantas-table">Atlanta's Table</a>) <a href="https://www.facebook.com/atlfoodbank"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/acfb"><img class="social" src="/social/twitter_sq.svg" /></a></li>
<li class="active"><a href="http://www.concrete-jungle.org/">Concrete Jungle</a></li></ul></ul>
<ul>Hawaii<ul>Kilauea<li class="active"><a href="https://www.facebook.com/groups/kauaifoodforest/">Kaua'i Food Forest <img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Kohala<li class="inactive"><a href="http://foodhubkohala.org/community-harvest-hawaii/">Food Hub Kohala</a> (<a href="http://foodhubkohala.org/community-harvest-hawaii/">Community Harvest Hawai'i</a>) <a href="https://www.facebook.com/pages/Community-Harvest-Hawaii/119679101450464"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul></ul>
<ul>Idaho<ul>Moscow<li class="active"><a href="http://www.backyardharvest.org/">Backyard Harvest</a></li></ul></ul>
<ul>Illinois<ul>Chicago<li class="active"><a href="http://www.chicagorarities.org/">Chicago Rarities Orchard Project</a></li></ul>
<ul>Naperville<li class="active"><a href="http://www.theresiliencyinstitute.net/">Resiliency Institute</a> (<a href="http://www.theresiliencyinstitute.net/get_involved/">McDonald Farm Edible Forest Garden</a>)</li></ul></ul>
<ul>Indiana<ul>Bloomington<li class="active"><a href="http://www.bloomingtoncommunityorchard.org/">Bloomington Community Orchard</a> <a href="https://www.facebook.com/BloomingtonCommunityOrchard"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/BtownOrchard"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul>
<ul>Indianapolis<li class="active"><a href="http://www.indyhunger.org/">Indy Hunger Network</a> (<a href="http://www.volunteermatch.org/search/opp1481178.jsp">Glean Team</a>)</li></ul></ul>
<ul>Iowa<ul>Davenport<li class="active"><a href="https://www.facebook.com/QC.FoodForest">Quad City Food Forest <img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Iowa City<li class="active"><a href="http://www.backyardabundance.org/">Backyard Abundance</a></li></ul></ul>
<ul>Kansas<ul>Lawrence<li class="active"><a href="http://lawrencefruittreeproject.wordpress.com/">Lawrence Fruit Tree Project</a></li></ul></ul>
<ul>Kentucky<ul>Lexington<li class="active"><a href="http://faithfeedslex.org/">Faith Feeds</a></li></ul>
<ul>Louisville<li class="active"><a href="https://www.facebook.com/compassionfruittrees">ComPassion Fruit Trees Louisville <img class="social" src="/social/facebook_sq.svg" /></a></li></ul></ul>
<ul>Louisiana<ul>New Orleans<li class="active"><a href="http://www.nolafruit.org/">New Orleans Fruit Tree Project</a></li></ul></ul>
<ul>Maryland<ul>Baltimore<li class="active"><a href="http://www.baltimoreorchard.org/">Baltimore Orchard Project</a></li></ul></ul>
<ul>Massachusetts<ul>Boston<li class="active"><a href="https://www.facebook.com/BostonFoodForest/">Boston Food Forest <img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="inactive"><a href="http://www.earthworksboston.org/">Earth Works Boston</a></li></ul>
<ul>Northampton<li class="active"><a href="http://www.helpyourselfedibles.org">Help Yourself</a> <a href="https://www.facebook.com/HelpYourselfEdibles/"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul></ul>
<ul>Massachussets<ul>Boston<li class="active"><a href="http://bostonareagleaners.org/">Boston Area Gleaners</a></li>
<li class="active"><a href="http://www.bostonnatural.org/">Boston Natural Areas Network</a> (<a href="http://www.bostonnatural.org/urban-orchards.htm">Urban Orchards</a>)</li>
<li class="active"><a href="http://www.bostontreeparty.org/">Boston Tree Party</a></li>
<li class="active"><a href="http://leagueofurbancanners.org/">League of Urban Canners</a></li>
<li class="active"><a href="http://www.lovinspoonfulsinc.org/">Lovin' Spoonfuls</a> <a href="https://www.facebook.com/lovinspoonfuls"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/lovinfoodrescue"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul></ul>
<ul>Missouri<ul>Kansas City<li class="active"><a href="http://aftertheharvestkc.org/">After the Harvest KC</a> <a href="https://www.facebook.com/AftertheHarvestKC"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/ath_karin"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul></ul>
<ul>Montana<ul>Helena<li class="active"><a href="http://www.insideedgedesigners.com/6th-ward-park/">6th Ward Forest Garden Park</a></li></ul>
<ul>Missoula<li class="active"><a href="http://greatbear.org/">Great Bear Foundation</a> (<a href="http://greatbear.org/projects/#bearsandapples">Bears & Apples</a>)</li></ul></ul>
<ul>New Jersey<li class="active"><a href="http://tabletotable.org/">Table to Table</a> <a href="https://www.facebook.com/tabletotableorg"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/TableToTableOrg"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul>
<ul>New York<ul>New York<li class="active"><a href="http://www.cityharvest.org/">City Harvest</a> (<a href="http://www.cityharvest.org/programs/emergency-food-rescue">Emergency Food Rescue</a>) <a href="https://www.facebook.com/CityHarvestNYC"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/CityHarvest"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul></ul>
<ul>North Carolina<ul>Asheville<li class="active"><a href="http://www.bountifulcities.org/">Bountiful Cities</a> (<a href="http://www.bountifulcities.org/gardens/ediblepark/">George Washington Carver Edible Park</a>) <a href="https://www.facebook.com/pages/Dr-George-Washington-Carver-Edible-Park/620672487948577?ref=ts&fref=ts"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://buncombefruitnuts.blogspot.com/">Buncome Fruit and Nut Club</a></li>
<li class="active"><a href="http://www.centerholistic.com/">Center for Holistic Medicine</a> (<a href="http://www.centerholistic.com/index.php/home/urban-plant-walk">Urban Plant Walk</a>)</li>
<li class="active"><a href="http://www.notastelikehome.org/">No Taste Like Home</a></li></ul>
<ul>Raleigh<li class="active"><a href="http://foodshuttle.org/">Inter-Faith Food Shuttle</a> <a href="https://www.facebook.com/InterFaithFoodShuttle"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/FoodShuttle"><img class="social" src="/social/twitter_sq.svg" /></a></li></ul></ul>
<ul>Oregon<ul>Ashland<li class="active"><a href="http://neighborhoodharvest.org/">Neighborhood Harvest</a></li></ul>
<ul>Corvallis<li class="active"><a href="https://www.facebook.com/pages/Marys-River-Gleaners/360830417274446?sk=timeline">Mary's River Gleaners <img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Eugene<li class="active"><a href="http://eugeneareagleaners.wordpress.com/">Eugene Area Gleaners</a></li></ul>
<ul>Portland<li class="active"><a href="http://hollywoodseniorcenter.com/">Hollywood Senior Center</a> (<a href="http://hollywoodseniorcenter.com/?page_id=633">Hollywood Gleaners</a>)</li>
<li class="active"><a href="http://portlandfruit.org/">Portland Fruit Tree Project</a></li>
<li class="active"><a href="http://urbanedibles.org">Urban Edibles</a></li>
<li class="active"><a href="http://urbangleaners.org/">Urban Gleaners</a></li></ul>
<ul>Salem<li class="active"><a href="http://www.salemharvest.org">Salem Harvest</a></li></ul>
<ul>Tualatin Valley<li class="active"><a href="http://www.tualatinvalleygleaners.org/">Tualatin Valley Gleaners</a> <a href="https://www.facebook.com/TualatinValleyGleaners"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul></ul>
<ul>Pennsylvania<ul>Harrisburg<li class="active"><a href="http://www.channelsfoodrescue.org/">Channels Food Rescue</a> <a href="https://www.facebook.com/channelsfoodrescue"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Philadelphia<li class="active"><a href="http://www.phillyorchards.org/">Philadelphia Orchard Project</a></li></ul>
<ul>Pittsburgh<li class="active"><a href="http://www.hiddenharvestpgh.org/">Hidden Harvest Pittsburgh</a></li></ul></ul>
<ul>South Carolina<ul>Greenville<li class="active"><a href="https://www.generousgarden.org">The Generous Garden Project</a></li></ul></ul>
<ul>South Dakota<ul>Rapid City<li class="inactive"><a href="http://rapidcityurbanorchard.com/">Rapid City Urban Orchard</a></li></ul></ul>
<ul>Texas<ul>Austin<li class="active"><a href="http://festivalbeachfoodforest.weebly.com/">Festival Beach Food Forest</a> <a href="https://www.facebook.com/EastFeast"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/eastfeast2022"><img class="social" src="/social/twitter_sq.svg" /></a></li>
<li class="active"><a href="http://keepaustinfed.org/">Keep Austin Fed</a> <a href="https://www.facebook.com/KeepAustinFed"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/keepaustinfed"><img class="social" src="/social/twitter_sq.svg" /></a></li>
<li class="inactive"><a href="http://www.treefolks.org/">TreeFolks</a> (<a href="http://www.treefolks.org/programs/the-urban-orchard-project/">Urban Orchard Project</a>)</li></ul>
<ul>Dallas<li class="active"><a href="http://www.gleantexas.org/">Gleaning Network of Texas</a></li></ul>
<ul>San Antonio<li class="active"><a href="http://www.safruittrees.org/">San Antonio Fruit Tree Project</a></li></ul></ul>
<ul>Utah<ul>Salt Lake City<li class="active"><a href="http://avenuesfruitshare.org/">Avenues FruitShare</a></li>
<li class="active"><a href="http://www.slcgov.com/slcgreen/">Salt Lake City Green</a> (<a href="http://apps.slcgov.com/general/absolutefp/Fruit_Form.htm">Fruit Gleaning Project</a>)</li></ul></ul>
<ul>Washington<li class="active"><a href="https://foodlifeline.org/">Food Lifeline</a> <a href="https://www.facebook.com/FoodLifeline"><img class="social" src="/social/facebook_sq.svg" /></a> <a href="https://twitter.com/FoodLifeline"><img class="social" src="/social/twitter_sq.svg" /></a></li>
<li class="active"><a href="http://firstharvest.org/">Rotary First Harvest</a> (<a href="http://firstharvest.org/harvest-against-hunger/">Harvest Against Hunger</a>)</li>
<ul>Bellingham<li class="active"><a href="http://www.bellinghamfoodbank.org/">Bellingham Food Bank</a> (<a href="http://www.bellinghamfoodbank.org/our_programs/small_potatoes_gleaning_project">Small Potatoes Gleaning Project</a>)</li></ul>
<ul>Ellensburg<li class="active"><a href="http://www.kvfish.org/">FISH Community Food Bank</a> (<a href="http://www.kvfish.org/volunteer/">Gleaners</a>)</li></ul>
<ul>Issaquah<li class="active"><a href="http://www.issaquahwa.gov/">City of Issaquah</a> (<a href="http://www.issaquahwa.gov/Facilities/Facility/Details/Gilman-Blvd-Edible-Landscape-Tour-15">Gilman Blvd Edible Landscape Tour</a>)</li>
<li class="inactive"><a href="http://issaquah-harvest.org/">Issaquah Harvest</a> <a href="https://www.facebook.com/pages/Issaquah-Harvest/467207070040350"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Leavenworth<li class="active"><a href="http://www.uvmend.org/">Upper Valley Mend</a> (<a href="http://firstharvest.org/home.php?org=2b404">Community Harvest</a>)</li></ul>
<ul>Mount Vernon<li class="active"><a href="http://www.communityactionskagit.org/">Community Action of Skagit County</a> (<a href="http://www.communityactionskagit.org/District/Department/18-Food-Bank-Distribution-Center/1167-Untitled.html">Harvest for Hope</a>)</li></ul>
<ul>Okanogan<li class="active"><a href="http://occac.com/">Okanogan County Community Action Council</a> (<a href="http://www.okfoodforall.blogspot.com/">Food for All</a>)</li></ul>
<ul>Olympia<li class="active"><a href="http://www.evergreen.edu/organicfarm/home.htm">Evergreen State College Organic Farm</a> (<a href="http://www.evergreen.edu/organicfarm/demetersgarden.htm">Demeter's Garden</a>)</li>
<li class="active"><a href="http://www.neneighborhood.org/">NE Neighborhood Association</a> (<a href="http://www.neneighborhood.org/home/joy-ave-pathway-1">Joy Ave Pathway</a>)</li>
<li class="active"><a href="http://thurstoncountyfoodbank.org/">Thurston County Food Bank</a> (<a href="http://thurstoncountyfoodbank.org/support/produce/">Gleaning Program</a>) <a href="https://www.facebook.com/thurstoncountygleaners"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Port Angeles<li class="inactive"><a href="http://olympicgleaners.weebly.com/">Olympic Gleaners</a></li></ul>
<ul>Port Townsend<li class="active"><a href="https://l2020.org/">Local 20/20</a> (<a href="https://l2020.org/Quimper+Community+Harvest">Quimper Community Harvest</a>)</li></ul>
<ul>Redmond<li class="active"><a href="http://www.hope-link.org/">Hope Link</a> (<a href="http://www.hope-link.org/take_action/sno-valley_harvest/">Sno-Valley Harvest</a>)</li></ul>
<ul>Richland<li class="active"><a href="http://www.fields-of-grace.com/">Fields of Grace</a></li></ul>
<ul>Seattle<li class="active"><a href="http://beaconfoodforest.org/">Beacon Food Forest</a></li>
<li class="active"><a href="http://www.seattle.gov/neighborhoods/ppatch/locations/49.htm">Brandon Street Orchard</a> <a href="https://www.facebook.com/BrandonStreetOrchard"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="active"><a href="http://www.cityfruit.org/">City Fruit</a></li>
<li class="inactive"><a href="http://www.sustainablewestseattle.org/2011/07/help-community-harvest-of-southwest-seattle-glean-fruit/">Community Harvest of Southwest Seattle</a></li>
<li class="active"><a href="http://fruitinwestseattle.org/">Community Orchard of West Seattle</a></li>
<li class="active"><a href="http://freewayestates.org/">Freeway Estates Community Orchard</a></li>
<li class="active"><a href="http://seattlefoodrescue.appspot.com/">Seattle Food Rescue</a> <a href="https://www.facebook.com/seattlefoodrescue"><img class="social" src="/social/facebook_sq.svg" /></a></li>
<li class="inactive"><a href="http://www.solid-ground.org/">Solid Ground</a> (<a href="http://www.solid-ground.org/programs/nutrition/fruittree/pages/default.aspx">Community Fruit Tree Harvest</a>)</li>
<li class="active"><a href="http://www.solid-ground.org/">Solid Ground</a> (<a href="http://www.solid-ground.org/Programs/Nutrition/Lettuce/Pages/default.aspx">Lettuce Link</a>)</li></ul>
<ul>Spokane<li class="active"><a href="http://spokaneedibletreeproject.org/">Spokane Edible Tree Project</a></li></ul>
<ul>Tacoma<li class="active"><a href="http://harvestpiercecounty.org/">Harvest Pierce County</a> (<a href="http://firstharvest.org/home.php?org=bdde5">Gleaning Project</a>)</li></ul>
<ul>Vancouver<li class="active"><a href="http://clarkcountyfoodbank.org/">Clark County Food Bank</a> (<a href="http://clarkcountyfoodbank.org/programs/farming-and-gleaning/">Gleaning Program</a>)</li>
<li class="active"><a href="http://www.myurbanabundance.org/">Urban Abundance</a></li></ul>
<ul>Walla Walla<li class="active"><a href="http://www.bmacww.org/">Blue Mountain Action Council</a> (<a href="http://www.bmacww.org/Templates/harvest2.htm">Walla Walla Community Harvest</a>) <a href="https://www.facebook.com/wallawallacommunityharvest"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul>
<ul>Whidbey Island<li class="active"><a href="http://goodcheer.org/">Good Cheer Food Bank</a> (<a href="http://goodcheer.org/gleeful-gleaners/">Gleeful Gleaners</a>)</li>
<li class="active"><a href="http://www.imaginepermacultureforest.org/">Imagine Permaculture Forest</a></li></ul>
<ul>White Salmon<li class="inactive"><a href="http://klickitatcounty.org/Health/FilesHtml/tree_registry_form_01.pdf">Rainbow Valley Gleaners Harvest Project</a></li></ul></ul>
<ul>Wisconsin<ul>Madison<li class="active"><a href="http://madisonfruitsandnuts.org/">Madison Fruits and Nuts</a> <a href="https://www.facebook.com/pages/Yum-Madison-Wants-Public-Fruit-Trees/123581931015999"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul></ul>
<ul>Wyoming<ul>Jackson<li class="active"><a href="http://holefoodrescue.org/">Hole Food Rescue</a> <a href="https://www.facebook.com/HoleFoodRescue"><img class="social" src="/social/facebook_sq.svg" /></a></li></ul></ul></div>

</div> <!-- //////////// Close Tabs ////////////// -->

<h2><%= I18n.t("pages.sharing.food_banks") %></h2>

<p>
<%= I18n.t("pages.sharing.food_banks_intro") %>
</p>

<div>
  <li><a href="http://www.ampleharvest.org/find-pantry.php">Ample Harvest</a> - American food banks known to accept produce donations.</li>
  <li><a href="http://www.foodbankscanada.ca/utility-pages/find-a-food-bank.aspx">Food Banks Canada</a> - Food banks throughout Canada.</li>
  <li><a href="http://gfn.convio.net/site/PageServer?pagename=foodbanking_find">Global FoodBanking Network</a> - Food bank networks throughout the globe.</li>
</div>