<h1>Routes</h1>

<%= form_tag("/routes/multiupdate") do %>
<table id="route_list">
<thead>
  <tr>
    <th>Name</th>
    <th>Locations</th>
    <th>Created</th>
    <th>Public</th>
    <th>Type</th>
    <th>Sharing</th>
    <th>Delete</th>
  </tr>
</thead>
<tbody>
<% 
lcounts = {}
LocationsRoute.select("count(*), route_id").joins(:route).group(:route_id).where("user_id = ?",current_user.id).each{ |l|
  lcounts[l.route_id] = l.count
}
@routes.each do |route| %>
  <tr>
    <td><%= text_field_tag "route[#{route.id}[name]", route.name %></td>
    <td><%= lcounts[route.id] %></td>
    <td><%= time_ago_in_words(route.created_at) %> ago</td>
    <td><%= check_box_tag "route[#{route.id}][is_public]", '1', route.is_public %>
    <td><%= select_tag "route[#{route.id}][transport_type]", options_for_select(Route::TransportTypes,route.transport_type) %>
    <td><%= route.is_public ? link_to('Public Link', route) : link_to('Private Link', route_path(route) + "?k=#{route.access_key}") %>
    <td><%= link_to 'Delete', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br><br>
<%= submit_tag 'Save Changes' %>

<% end %>

<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
    jQuery('#route_list').dataTable({
      "aaSorting": [[0,"asc"]],
      "bPaginate": false
    });
});
</script>
