<h1><%= I18n.t("routes.index.routes", :default => "Routes") %></h1>

<%= form_tag("/routes/multiupdate") do %>
<table id="route_list">
<thead>
  <tr>
    <th><%= I18n.t("routes.index.link", :default => "Link") %></th>
    <th><%= I18n.t("routes.index.name", :default => "Name") %></th>
    <th><%= I18n.t("routes.index.locations", :default => "Locations") %></th>
    <th><%= I18n.t("routes.index.travel_mode", :default => "Travel mode") %></th>
    <th><%= I18n.t("routes.index.public", :default => "Public") %></th>
    <th><%= I18n.t("routes.index.delete", :default => "Delete") %></th>
    <th><%= I18n.t("routes.index.updated", :default => "Updated") %></th>
  </tr>
</thead>
<tbody>
<% 
lcounts = {}
LocationsRoute.select("count(*), route_id").joins(:route).group(:route_id).where("user_id = ?",current_user.id).each{ |l|
  lcounts[l.route_id] = l.count
}
@routes.each do |route| %>
  <tr>
    <td><%= route.is_public ? link_to(I18n.t("routes.index.show", :default => "Show"), route) : link_to(I18n.t("routes.index.show", :default => "Show"), route_path(route) + "?k=#{route.access_key}") %>
    <td><%= text_field_tag "route[#{route.id}[name]", route.name %></td>
    <td><%= lcounts[route.id] %></td>
    <td><%= select_tag "route[#{route.id}][transport_type]", options_for_select(Route::TransportTypes,route.transport_type) %>
    <td><%= check_box_tag "route[#{route.id}][is_public]", '1', route.is_public %>
    <td><%= link_to I18n.t("routes.index.delete", :default => 'Delete'), route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><span style="display:none;"><%= route.updated_at %></span><%= time_ago_in_words(route.updated_at) %><%= I18n.t("routes.index.ago", :default => " ago") %></td>
  </tr>
<% end %>
</tbody>
</table>

<br><br>
<%= submit_tag I18n.t("routes.index.save_changes", :default => 'Save Changes') %>

<% end %>

<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
    jQuery('#route_list').dataTable({
      "aaSorting": [[6,"desc"]],
      "bPaginate": false
    });
});
</script>
