<h1><%= translate("glossary.routes") %></h1>

<%= form_tag("/routes/multiupdate") do %>
<table id="route_list">
<thead>
  <tr>
    <th><%= translate("glossary.links", :count => 1) %></th>
    <th><%= translate("glossary.name") %></th>
    <th><%= translate("glossary.locations", :count => 2) %></th>
    <th><%= translate("routes.mode_of_travel") %></th>
    <th><%= translate("glossary.public") %></th>
    <th><%= translate("glossary.delete") %></th>
    <th><%= translate("glossary.updated") %></th>
  </tr>
</thead>
<tbody>
<% 
lcounts = {}
LocationsRoute.select("count(*), route_id").joins(:route).group(:route_id).where("user_id = ?",current_user.id).each{ |l|
  lcounts[l.route_id] = l.count
}
@routes.each do |route| %>
  <tr>
    <td><%= route.is_public ? link_to(translate("glossary.show"), route) : link_to(translate("glossary.show"), route_path(route) + "?k=#{route.access_key}") %>
    <td><%= text_field_tag "route[#{route.id}[name]", route.name %></td>
    <td><%= lcounts[route.id] %></td>
    <td><%= select_tag "route[#{route.id}][transport_type]", options_for_select(Route::TransportTypes,route.transport_type) %>
    <!--FIXME <td><%= select_tag "route[#{route.id}][transport_type]", options_for_select(translate("routes.modes_of_travel")) %></td>-->
    <td><%= check_box_tag "route[#{route.id}][is_public]", '1', route.is_public %>
    <td><%= link_to translate("glossary.delete"), route, method: :delete, data: { confirm: translate("glossary.are_you_sure") } %></td>
    <td>
      <span style="display:none;"><%= route.updated_at %></span> 
      <%= translate("time.time_ago", :time => time_ago_in_words(route.updated_at)) %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<br><br>
<%= button_tag translate("glossary.save_changes") %>

<% end %>

<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
    jQuery('#route_list').dataTable({
      "aaSorting": [[6,"desc"]],
      "bPaginate": false
    });
});
</script>
