<h1>Regions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Center address</th>
    <th>Created At</th>
    <th>Sources</th>
    <th>Types</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regions.each do |region| %>
  <tr>
    <td><%= region.name %></td>
    <td><%= region.center_address %></td>
    <td><%= region.created_at %></td>
    <td><%= Location.where("region_id=#{region.id}").count %></td>
    <td><%= Location.where("region_id=#{region.id}").collect{ |l| l.type.nil? ? nil : l.type.name }.compact.uniq.join(", ") %></td>
    <td><%= link_to 'Map', "/locations?region_id=#{region.id}" %></td>
    <td><%= link_to 'Edit', edit_region_path(region) %></td>
    <td><%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Region', new_region_path %>
