<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @region.name %>
</p>

<p>
  <b>Center address:</b>
  <%= @region.center_address %>
</p>

<p>
  <b>Center lat:</b>
  <%= @region.center_lat %>
</p>

<p>
  <b>Center lng:</b>
  <%= @region.center_lng %>
</p>


<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
