<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :size => "20x3" %>
  </div>
  <div class="field">
    <%= f.label :description_and_notes %><br />
    <%= f.text_area :description, :size => "30x10" %>
  </div>
  <div class="field">
    <%= f.label :season %><br />
    <%= f.select(:season_start,Location::Months.collect{ |m| [m,Location::Months.index(m)] }) %> to 
    <%= f.select(:season_stop,Location::Months.collect{ |m| [m,Location::Months.index(m)] }) %>, or
    <%= f.check_box(:no_season) %> No Season
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.select(:region_id,Region.all.collect{ |r| [r.name,r.id] }) %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.select(:type_id,Type.all.collect{ |t| [t.name,t.id] }) %>
  </div>
  <div class="field">
    Inaccessible :(<br>
    <%= f.check_box(:inaccessible) %>
  </div>
  <br>
  <%= recaptcha_tags if current_admin.nil? %>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
