<% content_for :form_scripts do %>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){

  // Access
  $("#location_access").select2({
    minimumResultsForSearch: Infinity,
    placeholderOption: function () { return undefined; } //preserves blank option
  });

  // Season
  $("#location_season_start").select2({
    minimumResultsForSearch: Infinity
  });
  $("#location_season_stop").select2({
    minimumResultsForSearch: Infinity
  });

  // Date observed
  $("#location_observation_observed_on").datepicker({
    dateFormat: "yy-mm-dd",
    firstDay: 1, // week starts on Monday
    maxDate: 0
  });

  // Type selector
  $('#typeselect2').select2({
    tokenSeparators: [","],
    tags: <%= Type.full_list(@cats.nil? ? Type::DefaultCategories : @cats).to_json.html_safe %>
  });

  $("#typeselect2").select2("container").find("ul.select2-choices").sortable({
    containment: 'parent',
    start: function() { $("#typeselect2").select2("onSortStart"); },
    update: function() { $("#typeselect2").select2("onSortEnd"); }
  });

  // Quality rating slider
  var select = $( "#location_observation_quality_rating" );
  if (select.length > 0) {
  var slider = jQuery( "<div id='slider'></div>" ).insertAfter( select ).slider({
    min: 1,
    max: 6,
    range: "min",
    value: select[ 0 ].selectedIndex + 1,
    slide: function( event, ui ) {
      select[ 0 ].selectedIndex = ui.value - 1;
    }
  });
  $( "#location_observation_quality_rating" ).change(function() {
    slider.slider( "value", this.selectedIndex + 1 );
  });
  select.hide();
  }

  // Yield rating slider
  var select2 = $( "#location_observation_yield_rating" );
  if (select2.length > 0) {
  var slider2 = jQuery( "<div id='slider'></div>" ).insertAfter( select2 ).slider({
    min: 1,
    max: 6,
    range: "min",
    value: select2[ 0 ].selectedIndex + 1,
    slide: function( event, ui ) {
      select2[ 0 ].selectedIndex = ui.value - 1;
    }
  });
  $( "#location_observation_yield_rating" ).change(function() {
    slider2.slider( "value", this.selectedIndex + 1 );
  });
  select2.hide();
  }

  // Fruiting slider
  var select3 = $( "#location_observation_fruiting" );
  if (select3.length > 0) {
  var slider3 = jQuery( "<div id='slider'></div>" ).insertAfter( select3 ).slider({
    min: 1,
    max: 4,
    range: "min",
    value: select3[ 0 ].selectedIndex + 1,
    slide: function( event, ui ) {
      select3[ 0 ].selectedIndex = ui.value - 1;
    }
  });
  $( "#location_observation_fruiting" ).change(function() {
    slider3.slider( "value", this.selectedIndex + 1 );
  });
  select3.hide();
  }

});
</script>
<% end %>

<!-- Source Form -->
<%= form_for(@location,:html => {:id=>"editsource"}) do |f| %>
  <!-- Errors -->
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <strong><%= translate("locations.form.form_error") %>:</strong>
        <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :client, :value => 'web' %>

  <!-- Observations! -->
  <% if @current_action == "edit" %>
    <p style="border:1px solid #ddd;background-color:#FCE7E4;padding:0.5em;font-size:95%;line-height:125%;">
      <%= translate("locations.form.form_intro_html", :location_id => @location.id).html_safe %>
    </p>
  <% end %>

  <!-- Type -->
  <div class="field first" id="types">
    <label for="location_types"><span><%= translate("glossary.types") %></span> <span class="subtext">*</span></label><br />
    <span class="subtext"><%= translate("locations.form.types_subtext") %></span><br />
    <%= hidden_field_tag('types', @location.types.collect{ |t| t.full_name }.join(","), :id=>"typeselect2") %>
  </div>

  <!-- Position -->
  <div class="field">
    <label for="location_address"><span><%= translate("glossary.position") %></span> <span class="subtext">*</span></label><br>
    <span class="subtext"><%= translate("locations.form.position_subtext") %></span><br />
    Lat, Lng <%= f.text_field :lat, :value => @lat.nil? ? "" : @lat.round(6) %>, <%= f.text_field :lng, :value => @lng.nil? ? "" : @lng.round(6) %><br />
    <a href="#" onclick="update_marker_latlng();">>> <%= translate("locations.form.move_marker") %></a>

    <!-- Address (if new) -->
    <% if @current_action == "new" or @current_action == "create" %>
      <div style="margin-top:0.25em;">
        <span><%= translate("glossary.address") %></span>
        <span class="subtext-inline"><%= translate("locations.form.address_subtext") %></span>
      </div>
      <%= f.text_area :address %><br />
      <a href="#" onclick="update_marker_address();">>> <%= translate("locations.form.move_marker_address") %></a>
    <% end %>
  </div>

  <!-- Author (new) -->
  <div class="field">
    <label for="location_author"><%= translate("locations.form.your_name") %></label><br />
    <span class="subtext"><%= translate("locations.form.name_subtext") %></span><br />
    <% if @current_action == "new" or @current_action == "create" %>
      <%= f.text_field :author, :value => ((user_signed_in? and not current_user.add_anonymously?) ? current_user.name : "") %>
    <% else %>
      <%= text_field_tag :author, ((user_signed_in? and not current_user.add_anonymously?) ? current_user.name : "") %>
    <% end %>
  </div>

  <!-- Author (edit: admin only) -->
  <% if @current_action == "edit" and (user_signed_in? and current_user.is? :admin) %>
    <div class="field">
      <label for="location_author"><%= translate("locations.form.original_author") %></label><br />
      <span class="subtext"><%= translate("locations.form.author_subtext") %></span><br />
      <%= f.text_field :author %>
    </div>
  <% end %>

  <!-- Description -->
  <div class="field">
    <label for="location_description"><%= translate("glossary.description") %></label><br />
    <span class="subtext"><%= translate("locations.form.description_subtext") %></span><br />
    <%= f.text_area :description %>
  </div>

  <!-- Season -->
  <!-- FIXME: Multiple inputs for one label -->
  <div class="field">
    <label for="location_season"><%= translate("glossary.season") %></label><br />
    <span class="subtext"><%= translate("locations.form.season_subtext") %></span><br />
    <%= f.select(:season_start, I18n.translate("date.month_names").collect{ |m| [m, I18n.translate("date.month_names").index(m)-1] },:include_blank => true) %> –
    <%= f.select(:season_stop, I18n.translate("date.month_names").collect{ |m| [m, I18n.translate("date.month_names").index(m)-1] },:include_blank => true) %>, <span><%= translate("locations.form.or") %></span>
    <%= f.check_box(:no_season) %> <span><%= translate("locations.form.no_season") %></span>
  </div>

    <!-- Access -->
  <div class="field">
    <label for="location_access"><%= translate("glossary.access") %></label><br />
    <span class="subtext"><%= translate("locations.form.access_subtext") %></span><br />
    <%= f.select(:access, I18n.translate("locations.infowindow.access_mode").collect{ |r| [r, I18n.translate("locations.infowindow.access_mode").index(r)] }, :include_blank => true) %>
  </div>

  <!-- Unverified -->
  <div class="field">
    <label for="location_unverified"><%= translate("glossary.unverified") %></label> <%= f.check_box(:unverified) %><br />
    <span class="subtext"><%= translate("locations.form.unverified_subtext") %></span>
  </div>

  <br />
  <!-- Observations -->
  <details>
    <summary><%= translate("locations.form.have_you") %></summary>

    <%= f.fields_for :observation do |fo| %>

    <!-- Date -->
    <div class="field">
      <label for="location_observation_observed_on"><%= translate("locations.form.date_visited") %></label><br />
      <%= fo.text_field(:observed_on, :placeholder => 'yyyy-mm-dd') %>
    </div>

    <!-- Fruiting -->
    <div class="field">
      <label for="location_observation_fruiting"><%= translate("locations.form.fruiting_status") %></label><br />
      <span class="subtext"><%= translate("locations.form.fruiting_subtext") %></span><br />
      <%= fo.select(:fruiting, I18n.translate("locations.infowindow.fruiting").collect{ |r| [r, I18n.translate("locations.infowindow.fruiting").index(r)] },:include_blank => true) %>
      <div class="slider-legend"><div><%= translate("locations.infowindow.unsure_other") %></div><div>&nbsp;&nbsp;<%= I18n.translate("locations.infowindow.fruiting")[0] %></div><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= I18n.translate("locations.infowindow.fruiting")[1] %></div><div style="text-align:right;"><%= I18n.translate("locations.infowindow.fruiting")[2] %></div></div>
    </div>

    <!-- Quality Rating -->
    <div class="field">
      <label for="location_observation_quality"><%= translate("glossary.quality") %></label><br />
      <span class="subtext"><%= translate("locations.form.quality_subtext") %></span><br />
      <%= fo.select(:quality_rating, I18n.translate("locations.infowindow.rating").collect{ |r| [r, I18n.translate("locations.infowindow.rating").index(r)] },:include_blank => true) %>
      <div class="slider-legend"><div><%= translate("locations.infowindow.unsure") %></div><div><%= I18n.translate("locations.infowindow.rating")[0] %></div><div>&nbsp;&nbsp;&nbsp;<%= I18n.translate("locations.infowindow.rating")[1] %></div><div>&nbsp;&nbsp;&nbsp;&nbsp;<%= I18n.translate("locations.infowindow.rating")[2] %></div><div><%= I18n.translate("locations.infowindow.rating")[3] %></div><div style="text-align:right;"><%= I18n.translate("locations.infowindow.rating")[4] %></div></div>
    </div>

    <!-- Yield Rating -->
    <div class="field">
      <label for="location_observation_yield"><%= translate("glossary.yield") %></label><br />
      <span class="subtext"><%= translate("locations.form.yield_subtext") %></span><br />
      <%= fo.select(:yield_rating, I18n.translate("locations.infowindow.rating").collect{ |r| [r, I18n.translate("locations.infowindow.rating").index(r)] },:include_blank => true) %>
      <div class="slider-legend"><div><%= translate("locations.infowindow.unsure") %></div><div><%= I18n.translate("locations.infowindow.rating")[0] %></div><div>&nbsp;&nbsp;&nbsp;<%= I18n.translate("locations.infowindow.rating")[1] %></div><div>&nbsp;&nbsp;&nbsp;&nbsp;<%= I18n.translate("locations.infowindow.rating")[2] %></div><div><%= I18n.translate("locations.infowindow.rating")[3] %></div><div style="text-align:right;"><%= I18n.translate("locations.infowindow.rating")[4] %></div></div>
    </div>

    <!-- Photo -->
    <div class="field">
      <label for="location_observation_photo"><%= translate("glossary.photo") %></label><br />
      <span class="subtext"><%= translate("locations.form.photo_subtext") %></span><br />
      <%= fo.file_field :photo %>
    </div>

    <!-- Caption -->
    <div class="field">
      <label for="location_observation_photo_caption"><%= translate("locations.form.photo_caption") %></label><br />
      <%= fo.text_field :photo_caption, :size => "40" %>
    </div>

  <% end %>

  </details>

  <hr />

  <!-- Captcha -->
  <% unless user_signed_in? %>
    <div id="captcha">
      <%= recaptcha_tags(:hl => I18n.locale, :ssl => (request.protocol == 'https://' ? true : false)) %>
    </div>
  <br />
  <% end %>

  <!-- Submit -->
  <div class="actions">
    <%= f.button translate("glossary.submit") %>
    <% if @current_action == "new" or @current_action == "create" %>
      <%= check_box_tag(:create_another, '1', false) %> <span><%= translate("locations.form.create_another") %></span><br>
    <% end %>
  </div>

<% end %>
