<div id="mobile-form">

<% if @location.errors.any? %>
<ul data-role="listview" data-theme="e">
 <% @location.errors.full_messages.each do |msg| %>
 <li>Error: <%= msg %>
 <% end %>
</ul>
<% end %>

<!-- Source Form -->
<%= form_for(@location,{:html => {'data-ajax' => 'false'}}) do |f| %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field(:client, :value => 'mobile') %>
  <%= hidden_field_tag(:create_another, '1') %>

<div data-role="fieldcontain">
  <!-- Type -->
  <fieldset data-role="controlgroup">
    <legend>Type<br>
    <span class="subtext">What'd you find? Be as specific as possible. Suggest a new type only if you can't find yours in the list.</span><br>
    </legend>

   <div class="field" id="types">
    *<%= f.label :types %><br />
    <span class="subtext">Follow each type with a comma (Apple,Pear,). Review the suggestions carefully, submitting a new name only if an appropriate choice does not already exist.</span><br />
    <%= hidden_field_tag('types', @location.locations_types.collect{ |lt| lt.type.nil? ? lt.type_other : lt.type.name }.join(","), :id=>"typeselect2") %>
   </div>
  </fieldset>
  <br>  
  <!-- Address -->
  <% if @current_action == "new" or @current_action == "create" %>
  <fieldset data-role="controlgroup">
    <legend>Address:<br />
    <span class="subtext">Address can be used to quickly move the marker. Adjust the resulting position as needed before submitting.</span>
    </legend>
    <%= f.text_area :address, :size => "40x2" %><br>
    <a href="#" onclick="update_marker();" data-role="button" data-ajax="false" data-mini="true" data-inline="true">Move marker to address</a>
  </fieldset>
  <% end %>
  <br>
  <fieldset data-role="controlgroup">
  <legend>Location:<br>
  <span class="subtext">Determined from your current location (when available) or a marker you placed. Adjust the location by moving the map marker.</span>
  </legend>
  <%= f.text_field :lat, :size => 12, :value => @lat, 'data-inline' => 'true' %> (Latitude)<br>
  <%= f.text_field :lng, :size => 12, :value => @lng, 'data-inline' => 'true' %> (Longitude)
  </fieldset>
  <br>
  <!-- Author -->
  <fieldset data-role="controlgroup">
    <legend>Author<br />
    <span class="subtext">Displayed on map. Leave blank if you prefer to remain anonymous.</span><br>
    </legend>
    <%= f.text_field :author, :size => 40 %>
    <span>
  </fieldset>
  <br>
  <!-- Description -->
  <fieldset data-role="controlgroup">
    <legend>Description<br>
    <span class="subtext">Location details, access issues, plant health...</span><br>
    </legend>
    <%= f.text_area :description, :size => "50x10" %>
  </fieldset>
  <br>  
  <!-- Season -->
  <fieldset data-role="controlgroup">
    <legend>Season<br />
    <span class="subtext">When can the source be harvested? Leave blank if you don't know.</span><br>
    </legend>
    <%= f.select(:season_start,[['From:','']] + Location::Months.collect{ |m| [m,Location::Months.index(m)] }) %>
    <%= f.select(:season_stop,[['To:','']] + Location::Months.collect{ |m| [m,Location::Months.index(m)] }) %>
    <label><%= f.check_box(:no_season) %> No Season</label>
  </fieldset>
  <br>  
  <!-- Unverified -->
  <fieldset data-role="controlgroup">
    <legend>Unverified<br>
    <span class="subtext">If you haven't actually seen this source, or are unsure of its identity.</span>
    </legend>
    <label><%= f.check_box(:unverified) %> Unverified</label>
  </fieldset>
  <br>  

  <% if @current_action == "new" %>
  <!-- Quality Rating -->
  <fieldset data-role="controlgroup">
    <legend>Quality Rating<br />
    <span class="subtext">Rate the tastiness of this source (if applicable)</span>
    </legend>
    <fieldset data-role="controlgroup" data-type="horizontal" >
    <% Location::Ratings.each_index{ |r| %>
    <%= radio_button_tag("quality_rating",r) %>
    <label for="quality_rating_<%= r %>"><%= Location::Ratings[r] %></label>

    <% } %>
    </fieldset>
  </fieldset>
  <br>
  <!-- Yield Rating -->
  <fieldset data-role="controlgroup">
    <legend>Yield Rating<br />
    <span class="subtext">Rate the productivity of this source (if applicable)</span>
    </legend>
    <fieldset data-role="controlgroup" data-type="horizontal" >
    <% Location::Ratings.each_index{ |r| %>
    <%= radio_button_tag("yield_rating",r) %>
    <label for="yield_rating_<%= r %>"><%= Location::Ratings[r] %></label>

    <% } %>
    </fieldset>
  </fieldset>
  <br>
  <!-- Fruiting -->
  <fieldset data-role="controlgroup">
    <legend>Current Status<br />
    <span class="subtext">What is the tree doing right now? (will be used to infer seasonality)</span>
    </legend>
    <fieldset data-role="controlgroup" data-type="horizontal" >
    <% Location::Fruiting.each_index{ |r| %>
    <%= radio_button_tag("fruiting",r) %>
    <label for="fruiting_<%= r %>"><%= Location::Fruiting[r] %></label>

    <% } %>
    </fieldset>
  </fieldset>
  <br>
  <!-- Date -->
  <fieldset data-role="controlgroup">
    <legend>Visited On<br />
    <span class="subtext">Date you visited the source (if not today)</span>
    </legend>
    <%= text_field_tag(:observed_on) %>
  </fieldset>
  <% end %>

  <!-- Access -->
  <fieldset data-role="controlgroup">
    <legend>Access<br />
    <span class="subtext">Access status of this source. Leave blank if you don't know.</span>
    </legend>
    <%= f.select(:access,Location::AccessModes.collect{ |r| [r,Location::AccessModes.index(r)] },:include_blank => true) %>
  </fieldset>

  
  <br>
  <!-- Submit -->
    <!-- Captcha -->
    <div id="captcha">
    <%= recaptcha_tags(:display => {:theme => 'clean'}) unless user_signed_in? %>
    </div>
    <br><br>
    <%= f.submit("Submit", 'data-ajax' => 'false') %>
  
<% end %>

</div>

<% content_for :form_scripts do %>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
  $("#observed_on").datepicker();
  // Type selector
  $('#typeselect2').select2({
        tokenSeparators: [","],width:'100%',
    tags:[<%= raw Type.order("name").collect{ |t| t.scientific_name.nil? ? '"'+t.name+'"' : '"'+t.name+" ["+t.scientific_name+"]"+'"' }.join(",") %>]
  });
  $("#typeselect2").select2("container").find("ul.select2-choices").sortable({
    containment: 'parent',
    start: function() { $("#typeselect2").select2("onSortStart"); },
    update: function() { $("#typeselect2").select2("onSortEnd"); }
        });

  // Hide the checkboxes since they are overwritten by jQuery mobile
  $("#location_no_season").hide();
  $("#location_unverified").hide();

});
</script>
<% end %>
