<% content_for :form_scripts do %>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
	
	// Access
	$("#location_access").select2({
		minimumResultsForSearch: 999
	});
	
	// Season
	$("#location_season_start").select2({
		minimumResultsForSearch: 999
	});
	$("#location_season_stop").select2({
		minimumResultsForSearch: 999
	});
	
	// Date observed
  $("#observed_on").datepicker();
  
  // Type selector
  $('#typeselect2').select2({
  	tokenSeparators: [","],
    tags: <%= Type.full_list(@cats.nil? ? Type::DefaultCategories : @cats).to_json.html_safe %>
  });
  $("#typeselect2").select2("container").find("ul.select2-choices").sortable({
    containment: 'parent',
    start: function() { $("#typeselect2").select2("onSortStart"); },
    update: function() { $("#typeselect2").select2("onSortEnd"); }
	});
  
  // Quality rating slider        
  var select = $( "#quality_rating" );
  if (select.length > 0) {
  var slider = jQuery( "<div id='slider'></div>" ).insertAfter( select ).slider({
    min: 1,
    max: 6,
    range: "min",
    value: select[ 0 ].selectedIndex + 1,
    slide: function( event, ui ) {
      select[ 0 ].selectedIndex = ui.value - 1;
    }
  });
  $( "#quality_rating" ).change(function() {
    slider.slider( "value", this.selectedIndex + 1 );
  });
  select.hide();
	}
	
	// Yield rating slider
  var select2 = $( "#yield_rating" );
	if (select2.length > 0) {
  var slider2 = jQuery( "<div id='slider'></div>" ).insertAfter( select2 ).slider({
    min: 1,
    max: 6,
    range: "min",
    value: select2[ 0 ].selectedIndex + 1,
    slide: function( event, ui ) {
      select2[ 0 ].selectedIndex = ui.value - 1;
    }
  });
  $( "#yield_rating" ).change(function() {
    slider2.slider( "value", this.selectedIndex + 1 );
  });
  select2.hide();
	}
	
	// Fruiting slider
  var select3 = $( "#fruiting" );
  if (select3.length > 0) {
  var slider3 = jQuery( "<div id='slider'></div>" ).insertAfter( select3 ).slider({
    min: 1,
    max: 4,
    range: "min",
    value: select3[ 0 ].selectedIndex + 1,
    slide: function( event, ui ) {
      select3[ 0 ].selectedIndex = ui.value - 1;
    }
  });
  $( "#fruiting" ).change(function() {
    slider3.slider( "value", this.selectedIndex + 1 );
  });
  select3.hide();
	}
	
});
</script>
<% end %>

<!-- Source Form -->
<%= form_for(@location,:html => {:id=>"editsource"}) do |f| %>
  <!-- Errors -->
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <strong><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</strong>
        <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :client, :value => 'web' %>
  
  <!-- Observations! -->
  <% if @current_action == "edit" %>
    <p style="border:1px solid #ddd;background-color:#FCE7E4;padding:0.5em;font-size:95%;line-height:125%;">
      Edit the location below, or
      <a href="/observations/new?location_id=<%= @location.id %>" data-ajax="false" rel="external" title="Review this location">use this form</a> to review, comment, and post photos.
    </p>
  <% end %>

  <!-- Type -->
  <div class="field first" id="types">
    *<%= f.label :types %><br />
    <span class="subtext">Choose from the dropdown list, submitting new names only if appropriate choices do not already exist.</span><br />
    <%= hidden_field_tag('types', @location.locations_types.collect{ |lt| lt.type.nil? ? lt.type_other : lt.type.name }.join(","), :id=>"typeselect2") %>
  </div>
 
  <!-- Location -->
  <div class="field">
    *<label for="location_address">Location</label><br>
    <span class="subtext">Determined from your current location (when available) or a marker you placed. Adjust the location by moving the map marker.</span><br />
    Lat, Lng <%= f.text_field :lat, :value => @lat %>, <%= f.text_field :lng, :value => @lng %><br />
    <a href="#" onclick="update_marker_latlng();">>> Move marker to coordinates</a>
    
  	<!-- Address (if new) -->
    <% if @current_action == "new" or @current_action == "create" %>
      <div style="margin-top:0.25em;">
      	Address <span class="subtext-inline">can be used to quickly position the marker. Adjust as needed before submitting.</span>
      </div>
      <%= f.text_area :address %><br />
      <a href="#" onclick="update_marker_address();">>> Move marker to address</a>
    <% end %>
  </div>
  
  <!-- Author (new) -->
  <div class="field">
    <%= f.label :your_name %><br />
    <span class="subtext">Leave blank if you prefer to remain anonymous.</span><br />
    <% if @current_action == "new" or @current_action == "create" %>
      <%= f.text_field :author, :value => ((user_signed_in? and not current_user.add_anonymously?) ? current_user.name : "") %>
    <% else %>
      <%= text_field_tag :author, ((user_signed_in? and not current_user.add_anonymously?) ? current_user.name : "") %>
    <% end %>
  </div>
  
  <!-- Author (edit: admin only) -->
  <% if @current_action == "edit" and (user_signed_in? and current_user.is? :admin) %>
  	<div class="field">
    <%= f.label :original_author %><br />
    <span class="subtext">Displayed on map. Leave blank if you prefer to remain anonymous.</span><br />
    <%= f.text_field :author %>
  	</div>
  <% end %>

  <!-- Description -->
  <div class="field">
    <%= f.label :description %><br />
    <span class="subtext">Location details, access issues, plant health...</span><br />
    <%= f.text_area :description %>
  </div>
  
  <!-- Season -->
  <div class="field">
    <%= f.label :season %><br />
    <span class="subtext">When can the source be harvested? Leave blank if you don't know.</span><br />
    <%= f.select(:season_start,I18n.t("date.month_names").collect{ |m| [m,I18n.t("date.month_names").index(m)-1] },:include_blank => true) %> to
    <%= f.select(:season_stop,I18n.t("date.month_names").collect{ |m| [m,I18n.t("date.month_names").index(m)-1] },:include_blank => true) %>, or
    <%= f.check_box(:no_season) %> No Season
  </div>
  
    <!-- Access -->
  <div class="field">
    <%= f.label :access %><br />
    <span class="subtext">Access status of this source. Leave blank if you don't know.</span><br />
    <%= f.select(:access,I18n.t("locations.infowindow.access_mode").collect{ |r| [r,I18n.t("locations.infowindow.access_mode").index(r)] },:include_blank => true) %>
  </div>
  
  <!-- Unverified -->
  <div class="field">
    <label>Unverified</label> <%= f.check_box(:unverified) %><br />
    <span class="subtext">If you doubt the existence, location, or identity of this source.</span>
  </div>
  
  <!-- Observations -->
  <% if @current_action == "new" or @current_action == "create" %>
  <hr />
  
  <details>
    <summary>Have you visited this location?</summary>

    <!-- Date -->
    <div class="field">
      <%= f.label :date_visited %><br />
      <span class="subtext">Date of the reported fruiting status (if not today)</span><br />
      <%= text_field_tag(:observed_on) %>
    </div>
  
    <!-- Fruiting -->
    <div class="field">
      <%= f.label :fruiting_status %><br />
      <span class="subtext">What is the fruit doing right now? (if applicable)</span><br />
      <%= select_tag(:fruiting,options_for_select([[nil,nil]] + I18n.t("locations.infowindow.fruiting").collect{ |r| [r,I18n.t("locations.infowindow.fruiting").index(r)] })) %>
      <div class="slider-legend"><div><%= I18n.t("locations.infowindow.unsure_other") %></div><div><%= I18n.t("locations.infowindow.fruiting")[0] %></div><div>&nbsp;&nbsp;&nbsp;<%= I18n.t("locations.infowindow.fruiting")[1] %></div><div>&nbsp;&nbsp;&nbsp;&nbsp;<%= I18n.t("locations.infowindow.fruiting")[2] %></div><div><%= I18n.t("locations.infowindow.fruiting")[3] %></div><div style="text-align:right;"><%= I18n.t("locations.infowindow.fruiting")[4] %></div></div>
    </div>
  
    <!-- Quality Rating -->
    <div class="field">
      <%= f.label :quality %><br />
      <span class="subtext">Rate the tastiness of this source (if applicable)</span><br />
      <%= select_tag(:quality_rating,options_for_select([[nil,nil]] + I18n.t("locations.infowindow.rating").collect{ |r| [r,I18n.t("locations.infowindow.rating").index(r)] })) %>
      <div class="slider-legend"><div><%= I18n.t("locations.infowindow.unsure") %></div><div><%= I18n.t("locations.infowindow.rating")[0] %></div><div>&nbsp;&nbsp;&nbsp;<%= I18n.t("locations.infowindow.rating")[1] %></div><div>&nbsp;&nbsp;&nbsp;&nbsp;<%= I18n.t("locations.infowindow.rating")[2] %></div><div><%= I18n.t("locations.infowindow.rating")[3] %></div><div style="text-align:right;"><%= I18n.t("locations.infowindow.rating")[4] %></div></div>
    </div>
  
    <!-- Yield Rating -->
    <div class="field">
      <%= f.label :yield %><br />
      <span class="subtext">Rate the productivity of this source (if applicable)</span><br />
      <%= select_tag(:yield_rating,options_for_select([[nil,nil]] + I18n.t("locations.infowindow.rating").collect{ |r| [r,I18n.t("locations.infowindow.rating").index(r)] })) %>
      <div class="slider-legend"><div><%= I18n.t("locations.infowindow.unsure") %></div><div><%= I18n.t("locations.infowindow.rating")[0] %></div><div>&nbsp;&nbsp;&nbsp;<%= I18n.t("locations.infowindow.rating")[1] %></div><div>&nbsp;&nbsp;&nbsp;&nbsp;<%= I18n.t("locations.infowindow.rating")[2] %></div><div><%= I18n.t("locations.infowindow.rating")[3] %></div><div style="text-align:right;"><%= I18n.t("locations.infowindow.rating")[4] %></div></div>
    </div>

  </details>
  <% end %>
    
  <hr />
  
  <!-- Captcha -->
  <% unless user_signed_in? %>
  	<div id="captcha">
  		<%= recaptcha_tags(:display => {:theme => 'white'}) %>
  	</div>
  <br />
	<% end %>
  
  <!-- Submit -->
  <div class="actions">
    <%= f.submit "Submit" %>
    <% if @current_action == "new" or @current_action == "create" %>
    <%= check_box_tag(:create_another, '1', false) %> Create another<br>
    <% end %>
  </div>
  
<% end %>
