<style>
.map_container{
   width:100%;
   height:300px;
   position: relative;
   margin: 0;
   padding: 0;
}
.gmaps4rails_map{
   height: 300px;
   width: 100%;
   position: relative;
   margin: 0;
   padding: 0;
}
button{ margin: 0; padding: 0; }
select{ margin: 0; padding: 0; }
form{ margin: 0; padding: 0; }
</style>

<%= gmaps4rails([@location].to_gmaps4rails) %>

<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="types">
    <%= f.label :type %><br />
    <span class="subtext">What'd you find?</span><br>
      <% @location.locations_types.each{ |lt|  %>
      <%= f.fields_for :locations_types, lt, :index => "update_#{lt.id}" do |f2| %>
        <%= f2.select(:type_id,Type.all.collect{ |t| [t.name,t.id] },:include_blank => true) %>, or
        <%= f2.text_field :type_other %><br>
      <% end %>
    <% } %>
    <%= f.fields_for :locations_types, :index => "new_0" do |f2| %>
      <%= f2.select(:type_id,Type.all.collect{ |t| [t.name,t.id] },:include_blank => true) %>, or
      <%= f2.text_field :type_other %><br>
    <% end %>
  </div>
  <%= add_locations_type_link "+More", f %>

  <div class="field">
    *<%= f.label :address %><br />
    <span class="subtext">Address is automagically geocoded by the google hiveborg.<br>The lat/lon are determined based on your current location (when possible), or a marker you placed.<br>The address will <em>overwrite</em> this lat/lon, so don't provide one if you want to use the lat/lon.</span><br>
    <table><tr><td><%= f.text_area :address, :size => "20x3" %>
               <td>or<td>lon:<%= f.text_field :lng, :size => 10, :value => @lng %>, 
                         lat:<%= f.text_field :lat, :size => 10, :value => @lat %></table>
    <span class="subtext">Lat/lon are assumed to be in the WGS84 (SRID 4326) projection :)</span>
  </div>
  <div class="field">
    <%= f.label :description_and_notes %><br />
    <span class="subtext">Any access issues? Problems? Things to note?</span><br>
    <%= f.text_area :description, :size => "30x10" %>
  </div>
  <div class="field">
    <%= f.label :season %><br />
    <span class="subtext">When is it fruiting (approximately), leave blank if you don't know</span><br>
    <%= f.select(:season_start,Location::Months.collect{ |m| [m,Location::Months.index(m)] },:include_blank => true) %> to 
    <%= f.select(:season_stop,Location::Months.collect{ |m| [m,Location::Months.index(m)] },:include_blank => true) %>, or
    <%= f.check_box(:no_season) %> No Season
  </div>
  <div class="field">
    <%= f.check_box(:unverified) %> Unverified<br>
    <span class="subtext">Check here if you haven't actually seen/verified this source.</span>
  </div>
  <div class="field">
    <%= f.label :quality_rating %><br />
    <span class="subtext">Rate the tastiness of this source.</span><br>
    <%= f.select(:quality_rating,Location::Ratings.collect{ |r| [r,Location::Ratings.index(r)] },:include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :yield_rating %><br />
    <span class="subtext">Rate the productivity of this source.</span><br>
    <%= f.select(:yield_rating,Location::Ratings.collect{ |r| [r,Location::Ratings.index(r)] },:include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :access %><br />
    <span class="subtext">Comment on the accessibility of this source. Leave blank if the status is unknown.</span><br>
    <%= f.select(:access,Location::AccessModes.collect{ |r| [r,Location::AccessModes.index(r)] },:include_blank => true) %>
  </div>

  <% if @current_action == "new" or (@current_action == "edit" and !current_admin.nil?) %>
  <div class="field">
    *<%= f.label :Author %><br />
    <span class="subtext">That's your name, pseudonym, or "Anonymous" if you prefer</span><br>
    <%= f.text_field :author %>
    <span>
  </div>
  <% end %>

  <br>
  <%= recaptcha_tags if current_admin.nil? %>
  <br>
  <div class="actions">
    <%= f.submit "Submit" %>
    <%= check_box_tag(:create_another, '1', :checked => true) %> Create Another<br>
  </div>
<% end %>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
Gmaps.map.callback = function() {
  var len = Gmaps.map.markers.length;
  for(var i = 0; i < len; i++){
    var marker = Gmaps.map.markers[i].serviceObject;
    marker.setDraggable(true);
    google.maps.event.addListener(marker, 'dragend', function() {
      $("location_lat").value = this.getPosition().lat();
      $("location_lng").value = this.getPosition().lng();
    });
  }
};
</script>
<% end unless @location.lat.nil? %>
