<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :season_start %><br />
    <%= f.select(:season_start,Location::Months.collect{ |m| [m,Location::Months.index(m)] }) %>
  </div>
  <div class="field">
    <%= f.label :season_stop %><br />
    <%= f.select(:season_stop,Location::Months.collect{ |m| [m,Location::Months.index(m)] }) %>
  </div>
  <div class="field">
    <%= f.label :no_season %><br />
    <%= f.check_box(:no_season) %>
  </div>
  <div class="field">
    <%= f.label :inaccessible %><br />
    <%= f.check_box(:inaccessible) %>
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.select(:region_id,Region.all.collect{ |r| [r.name,r.id] }) %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.select(:type_id,Type.all.collect{ |t| [t.name,t.id] }) %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <%= recaptcha_tags if current_admin.nil? %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
