<script>
jQuery(document).ready(function(){
  jQuery('.select2').select2({width:'element'});
});
</script>

<div id="form">
<h2><%= @current_action.capitalize %> Source</h2>
<% if @location.errors.any? %>
  <div id="error_explanation">
    <strong><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</strong>
      <ul>
    <% @location.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@location) do |f| %>
  <%= f.hidden_field :id %>
  <div class="field" id="types">
    <%= f.label :type %><br />
    <span class="subtext">What'd you find? If a more specific name for this source is not already listed (e.g., "Italian Plum", "Prunus cocomilia", "Granny Smith Apple"), suggest it in the text box.</span><br>
      <% @location.locations_types.each{ |lt|  %>
      <%= f.fields_for :locations_types, lt, :index => "update_#{lt.id}" do |f2| %>
        <div class="ui-widget">
        <%= f2.select(:type_id,Type.order("name").collect{ |t| [t.name,t.id] },{:include_blank => true},{:class=>"select2"}) %>, or
        <%= f2.text_field :type_other %><br>
        </div>
      <% end %>
    <% } %>
    <%= f.fields_for :locations_types, :index => "new_0" do |f2| %>
      <%= f2.select(:type_id,Type.order("name").collect{ |t| [t.name,t.id] },{:include_blank => true},{:class=>"select2"}) %>, or
      <%= f2.text_field :type_other %><br>
    <% end %>
  </div>
  <%= add_locations_type_link "+ Add Another", f %>

  <div class="field">
    *<%= f.label :address %><br />
    <span class="subtext">Address is automagically geocoded by the google hiveborg.<br>
    The lat/lon are determined based on your current location (when possible), or a marker you placed.<br>
    The address will <em>overwrite</em> this lat/lon, so don't provide one if you want to use the lat/lon.</span><br>
    <table style="width: 30em;">
    <tr><td>
    <%= f.text_area :address, :size => "30x3" %><br>
    lat:<%= f.text_field :lat, :size => 10, :value => @lat %>
    lon:<%= f.text_field :lng, :size => 10, :value => @lng %><br> 
    <td>
    <% if @current_action == "new" or @current_action == "create" %>
    <div style="text-align: center;">
    <a href="#" onclick="update_marker();">Click here to Update Map From Address</a><br><em>(will overwrite lat/lon)</em><br>
    </div>
    <% end %>
    </table>
  </div>

  <% if @current_action == "new" or @current_action == "create" or (@current_action == "edit" and !current_admin.nil?) %>
  <div class="field">
    <%= f.label :Author %><br />
    <span class="subtext">That's your name, pseudonym, or "Anonymous" if you prefer</span><br>
    <%= f.text_field :author %>
    <span>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :description_and_notes %><br />
    <span class="subtext">Any access issues? Problems? Things to note?</span><br>
    <%= f.text_area :description, :size => "50x10" %>
  </div>
  <div class="field">
    <%= f.label :season %><br />
    <span class="subtext">When is it fruiting (approximately), leave blank if you don't know</span><br>
    <%= f.select(:season_start,Location::Months.collect{ |m| [m,Location::Months.index(m)] },:include_blank => true) %> to 
    <%= f.select(:season_stop,Location::Months.collect{ |m| [m,Location::Months.index(m)] },:include_blank => true) %>, or
    <%= f.check_box(:no_season) %> No Season
  </div>
  <div class="field">
    <%= f.check_box(:unverified) %> Unverified<br>
    <span class="subtext">Check here if you haven't actually seen/verified this source.</span>
  </div>
  <div class="field">
    <%= f.label :quality_rating %><br />
    <span class="subtext">Rate the tastiness of this source.</span><br>
    <%= f.select(:quality_rating,Location::Ratings.collect{ |r| [r,Location::Ratings.index(r)] },:include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :yield_rating %><br />
    <span class="subtext">Rate the productivity of this source.</span><br>
    <%= f.select(:yield_rating,Location::Ratings.collect{ |r| [r,Location::Ratings.index(r)] },:include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :access %><br />
    <span class="subtext">Comment on the accessibility of this source. Leave blank if the status is unknown.</span><br>
    <%= f.select(:access,Location::AccessModes.collect{ |r| [r,Location::AccessModes.index(r)] },:include_blank => true) %>
  </div>

  <br>
  <%= recaptcha_tags if current_admin.nil? %>
  <br>
  <div class="actions">
    <%= f.submit "Submit" %>
    <%= check_box_tag(:create_another, '1', :checked => true) %> Create Another<br>
  </div>
<% end %>
</form>
