<% if location.has_photos? %>
<div id="tabs">
<ul>
 <li><a href="#tab-1"><span>Info</span></a></li>
 <li><a href="#tab-2"><span>Photos</span></a><li>
</ul>
<div id="tab-1">
<% end %>
<!-- Wrapper -->
<div id="location_infowindow">

<!-- Types -->
<div id="type_list">
	<% if location.unverified %>
		<li style="float:right;margin:0 0 1em 1em;background-color:#FCE7E4;">UNVERIFIED</li>
	<% end %>
 <% @location.locations_types.each{ |d| %>
 <li>
 <%= d.name.nil? ? "Unknown" : d.name %>
 <% unless d.type.nil? %>
	 <% unless d.type.wikipedia_url.blank? %>
		<a href="<%= d.type.wikipedia_url %>" target="_blank" title="Wikipedia"><img class="type_icon" src="/wikipedia_icon.png"></a>
	 <% end %>
	 	 <% unless d.type.fruitipedia_url.blank? %>
		<a href="<%= d.type.fruitipedia_url %>" target="_blank" title="Fruitipedia"><img class="type_icon" src="/fruitipedia_icon.png"></a>
	 <% end %>
	 	 	 <% unless d.type.urban_mushrooms_url.blank? %>
		<a href="<%= d.type.urban_mushrooms_url %>" target="_blank" title="Urban Mushrooms"><img class="type_icon" src="/urban_mushrooms_icon.png"></a>
	 <% end %>
	 	 <% unless d.type.foraging_texas_url.blank? %>
		<a href="<%= d.type.foraging_texas_url %>" target="_blank" title="Foraging Texas"><img class="type_icon" src="/foraging_texas_icon.png"></a>
	 <% end %>
	 <% unless d.type.eat_the_weeds_url.blank? %>
		<a href="<%= d.type.eat_the_weeds_url %>" target="_blank" title="Eat The Weeds"><img class="type_icon" src="/eat_the_weeds_icon.png"></a>
	 <% end %>
	 	 <% unless d.type.usda_symbol.blank? %>
		<a href="http://plants.usda.gov/java/profile?symbol=<%= d.type.usda_symbol %>" target="_blank" title="USDA"><img class="type_icon" src="/usda_icon.png"></a>
	 <% end %>
 <% end %>
 </li>
 <% } %>
</div>

<!-- Description wrapper -->
<div id="description">

<!-- Quality -->
<% unless location.mean_quality_rating.nil? %>
	<% ratings = "true" %>
 	<label>Quality</label> <%= Location::Ratings[location.mean_quality_rating] %>
 	<span class="observation_count">(<%= location.observations.reject{ |o| o.quality_rating.nil? }.length %>)</span>
<% end %>

<!-- Yield -->
<% unless location.mean_yield_rating.nil? %>
	<% ratings = "true" %>
	<label>Yield</label> <%= Location::Ratings[location.mean_yield_rating] %>
	<span class="observation_count">(<%= location.observations.reject{ |o| o.yield_rating.nil? }.length %>)</span>
<% end %>
<% unless ratings.nil? %>
	<br/>
<% end %>

<!-- Season -->
<!-- (use ? to denote nil, brown out of season, green in season) -->
<% unless location.no_season %>
	<% current = Date.today.month.to_i - 1 %>
	<% season_class = "out_season"	%>
	<!-- Start - Stop -->
	<% unless (location.season_start.nil? and location.season_stop.nil?)
		season_class = "in_season" if (current == location.season_start) or (current == location.season_stop)
		season_class = "in_season" if (!location.season_start.nil? and !location.season_stop.nil? and 
																		location.season_stop > location.season_start and 
																		current > location.season_start and current < location.season_stop)
		season_class = "in_season" if (!location.season_start.nil? and !location.season_stop.nil? and 
																		location.season_stop < location.season_start and 
																		(current > location.season_start or current < location.season_stop))
		pretty_start = location.season_start.nil? ? "?" : Location::Months[location.season_start]
		pretty_stop = location.season_stop.nil? ? "?" : Location::Months[location.season_stop]
		pretty_season = (pretty_start == pretty_stop) ? pretty_start : pretty_start + " - " + pretty_stop
	%>
  	<label>Season</label> <span class="<%= season_class %>"><%= pretty_season %></span><br/>
  <% else %>
  <!-- Observation table -->
  	<% unless location.observations.length == 0 %>
			<% unless location.nobs_months_flowering.length == 0 %>
				<label>Flower</label> <%= location.nobs_months_flowering.collect{ |v| ((v[0] == current) ? "<span class='in_season'>" + Location::Months[v[0]] + "</span>" : "<span class='out_season'>" + Location::Months[v[0]] + "</span>") + " <span class='observation_count'>(" + v[1].to_s + ")</span>" }.join(", ").html_safe %>
			<% end %>
			<% unless location.nobs_months_fruiting.length == 0 %>
				<label>Fruit</label> <%= location.nobs_months_fruiting.collect{ |v| ((v[0] == current) ? "<span class='in_season'>" + Location::Months[v[0]] + "</span>" : "<span class='out_season'>" + Location::Months[v[0]] + "</span>") + " <span class='observation_count'>(" + v[1].to_s + ")</span>" }.join(", ").html_safe %>
			<% end %>
			<% unless location.nobs_months_ripe.length == 0 %>
				<label>Ripe</label> <%= location.nobs_months_ripe.collect{ |v| ((v[0] == current) ? "<span class='in_season'>" + Location::Months[v[0]] + "</span>" : "<span class='out_season'>" + Location::Months[v[0]] + "</span>") + " <span class='observation_count'>(" + v[1].to_s + ")</span>" }.join(", ").html_safe %>
			<% end %>
		<% end %>
  <% end %>
<!-- No Season -->
<% else %>
	<label>Season</label> <span class="in_season">January - December</span><br/>
<% end %>

<!-- Text Description -->
<!-- (keep <p> markup even if empty) -->
<p>
<% unless location.description.blank? %>
 <%= sanitize(location.description.strip.gsub(/\n/,"<br>"),tags:["br"]) %>
<% end %>
</p>
<!-- Access Statement -->
<% unless location.access.nil? %>
	<p><span style="font-style: italic; color: #a9a9a9;"><%= Location::AccessStatements[location.access] %></span></p>
<% end %>
<!-- Last updated (words) -->
<!--<p><span class="subtext" style="color: #a9a9a9;">Updated <%= distance_of_time_in_words_to_now(location.updated_at) %> ago</span></p>-->
<!-- Last updated (date) -->
<!--<p><span class="subtext" style="color: #a9a9a9;">Updated <%= location.updated_at.strftime('%d %b %Y') %></span></p>-->

</div>  <!-- Description wrapper -->

<!-- Controls & Author -->
<!-- (using table instead of display: table-cell for compatibility with IE <= 7) -->
<!-- FIXED? div width=100% needed to match footer to window size so that wrapping does not introduce scroll bar -->
<!--<div style="width:100%;">-->
<table id="footer">
	<tr>
 		<td id="controls">
		<a href="/observations/new?location_id=<%= location.id %>" data-ajax="false" rel="external" title="Review this location" id="add_review">+ Review (<%= location.observations.length %>)</a>
 		<a href="javascript:zoom_to_marker();" data-ajax="false" title="Zoom to this location">zoom</a>
 		<a href="/locations/<%= location.id %>" data-ajax="false" rel="external" id="location_link" onclick="update_url('#location_link'); return false;" title="URL for this location">link</a>
    <a href="/locations/<%= location.id %>/edit" data-ajax="false" rel="external" title="Edit this location">edit</a>
 		<% if !mobile_device? and user_signed_in? %>
 			<a href="javascript:toggle_route_controls();" data-ajax="false" title="Toggle route controls">routes<img src="/smarrow_down.png" style="margin-left:0.25em;"/><img src="/smarrow_up.png" style="display:none;"/></a>
 		<% end %>
 		<% if user_signed_in? and current_user.is? :admin %>
  			<%= link_to('delete', location, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete this location') %>
 		<% end %>
 		</td>
  	<td id="added_by">by <i style="padding-right:0.5em;"><%= (location.author.nil? or (location.author.strip.length == 0)) ? "Anonymous" : location.author %></i>
  	<% unless location.import.nil? %>
		(<a href="/imports/<%= location.import.id %>" title="Citation to the original source">source</a>)
  	<% end %>
</td>
 	</tr>
</table>

<!-- Routes -->
<% if !mobile_device? and user_signed_in? %>
<div id="route_controls" style="display:none;border-top:1px solid #F0F0F0;margin-top:0.75em;padding-top:0.75em;width:100%;">
Add to / remove from: 
<form style="display: inline;" action="/locations/<%= location.id %>/enroute" method="get">
	<select id="route_id" name="route_id">
		<% Route.where("user_id = ?",current_user.id).each do |r| %>
 			<option value="<%= r.id %>"><%= r.name %> <%= LocationsRoute.where("route_id = ? AND location_id = ?",r.id,location.id).count > 0 ? "(+)" : "" %></option>
		<% end %>
 		<option value="-1">-- New Route --</option>
	</select>
	<input type="submit" value="+ / -" style="padding:0.05em 0.25em;">
</form>
</div>
<% end %>
</div>  <!-- Wrapper -->
<% if location.has_photos? %>
</div> <!-- tab 1 -->
<div id="tab-2">
<%= raw location.observations.collect{ |o|
          o.photo_file_size.nil? ? nil : "<a href=\"" + o.photo.url + "\"><img src=\"" + o.photo.url(:thumb) + "\"></a> "
    }.compact.join
%>
</div> <! -- tab 2 -->
</div> <!-- tabs -->
<% end %>
