<style>
a.title{ color: white; font-weight: bold; text-decoration: none; }
div#title{ font-size: 10pt; background: #003366;font-weight:bold;color:white;padding:0.2em; }
</style>
<div id="title">
<%= tn = location.locations_types.collect{ |d| d.type.nil? ? d.type_other : 
  "<a class=\"title\" href=\"#{d.type.wikipedia_url}\">#{d.type.name}</a>" } 

   if tn.length == 2
     raw "#{tn[0]} and #{tn[1]}"
   elsif tn.length > 2
     raw "#{tn[0]} & Others"
   else
     raw tn[0]
   end
%>
</div>
<div style="font-size: 10pt; margin-top: 1em;">
<% unless location.description.nil? or location.description.strip == "" %>
<%= raw word_wrap(location.description,:line_width => 30).gsub("\n","<br>") %><br><br>
<% end %>
<% unless location.no_season or location.season_start.nil? or location.season_stop.nil? %>
Fruiting from <%= Location::Months[location.season_start] %> to <%= Location::Months[location.season_stop] %><br>
<% end %>
<div style="color:#333333; font-weight: bold;">
<% t = location.locations_types.collect{ |d| d.type.nil? or d.type.usda_profile_url.nil? ? nil : d.type }.compact %>
<% if t.length > 0 %>
USDA:
<% t.each{ |d| %>
<a href="<%= d.usda_profile_url %>" target="_blank"><%= d.name %></a>
<% } %><br>
<% end %>
</div>
<span style="text-decoration: italic;color: grey;">Added by <%= location.author %></span><br>
<div style="text-align: right;"><a href="/locations/<%= location.id %>/edit">Edit</a></div>
</div>
