<div id="sidebar_container">
<div id="sidebar">
  <!-- Tab Menu -->
  <ul>
    <li id="activity-tab"><a href="#sidebar-tab-1"><span><%= translate("glossary.activity") %></span></a></li>
    <li id="review-tab"><a href="#sidebar-tab-2"><span><%= translate("glossary.favorites") %></span></a></li>
    <li id="routes-tab"><a href="#sidebar-tab-3"><span><%= translate("glossary.routes") %></span></a></li>
    <li id="close-arrow"><a href="#" class="sidebar_arrow" onclick="$('#mainmap_container').css('left','0px'); $('#sidebar_button').show(); google.maps.event.trigger(map, 'resize');"><span>◀</span></a></li>
  </ul>

  <!-- ACTIVITY TAB -->
  <div id="sidebar-tab-1">
    <% if current_user.range.nil? %>
      <span><%= translate("locations.sidebar.you_havent_defined_html").html_safe %></span>.
    <% else %>
      <span><%= translate("locations.sidebar.changed_within_html").html_safe %></span>:
    <% end %>
    <br/><br/>
    <%
       last_lab = nil
       @changes.each do |c|
         next if c["description"] == "grafted" and (not user_signed_in? or not current_user.is? :grafter)
         types = c["type_title"]
         action = translate("changes.type." + c["description"])
         c["days_ago"] = c["days_ago"].to_i
         lab = nil
         mday = Time.zone.today.day
         wday = Time.zone.today.wday
         if c["days_ago"] <= 0
           lab = translate("time.last_24_hours")
         elsif c["days_ago"] <= wday
           lab = translate("time.this_week")
         elsif c["days_ago"] <= mday
           lab = translate("time.this_month")
         else
           lab = translate("time.time_ago", :time => translate("time.months", :count => 1 + (c["days_ago"]-mday)/30))
         end
         if last_lab.nil? or last_lab != lab
           if last_lab.nil?
             header = "<span>" + lab + "</span><blockquote>"
           else
             header = "</blockquote><span>" + lab + "</span><blockquote>"
           end
           last_lab = lab
         end
      %>
      <%= raw header %>
      <% unless c["location_id"].nil? %>
        <!-- On one line to avoid underlined trailing spaces -->
        <a href="#" onclick="open_marker_by_id(<%= c["location_id"] %>);return false;" onmouseover="show_pointer(<%= c["lat"] %>,<%= c["lng"] %>);" onmouseout="hide_pointer();"><%= types.nil? ? translate("glossary.unknown") : types %></a>
        <% unless c["city"].nil? %>
          <span><%= translate("changes.change_in_city", :type => action, :city => c["city"]) %></span>
        <% else %>
          <span><%= action %></span>
        <% end %>
        <% unless c["change_author"].blank? %>
          <span><%= translate("glossary.by_author", :author => c["change_author"]) %></span>
        <% end %>
        <br/>
    <% end %>
    <% end %>

    <% if @changes.length > 0 %>
      </blockquote>
    <% end %>
  </div>

  <!-- FAVORITES TAB -->
  <div id="sidebar-tab-2">
    <% if @my_changes.blank? %>
      <span><%= translate("locations.sidebar.you_havent_added_or_reviewed_anything_while_logged_in") %></span>.
    <% else %>
      <span><%= translate("locations.sidebar.locations_added_or_reviewed_by_you_while_logged_in") %></span>:
      <br/>
      <% @my_changes.each do |c| %>
        <% next if c.location.nil? %>
        <div class="favorite">
          <a href="#" onclick="open_marker_by_id(<%= c.location.id %>);return false;" onmouseover="show_pointer(<%= c.location.lat %>,<%= c.location.lng %>);" onmouseout="hide_pointer();"><%= c.location.types(@cat_filter).collect{ |t| t.i18n_name.nil? ? translate("glossary.unknown") : t.i18n_name }.join(", ") %></a>
          <% unless c.location.country.nil? %>
            <br/><i style="font-size: 85%;"><%= [c.location.city, c.location.state, c.location.country].reject{ |x| x.nil? }.join(", ") %></i>
          <% end %>
          <br/>
          <span><%= translate("changes.type." + c.description).upcase_first %> <%= translate("time.time_ago", :time => time_ago_in_words(c.created_at)).downcase_first %></span>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- ROUTES TAB -->
  <div id="sidebar-tab-3">
    <% if @routes.length > 0 %>
      <span><%= translate("locations.sidebar.click_here_to_manage_your_routes_html", :routes_path => routes_path).html_safe %></span>.
      <br/>
      <%
         lcounts = {}
         LocationsRoute.select("count(*), route_id").joins(:route).group(:route_id).where("user_id = ?",current_user.id).each{ |l|
           lcounts[l.route_id] = l.count
         }
         @routes.each do |route| %>
        <div class="route">
          <%= route.is_public ? link_to(route.name, route) : link_to(route.name, route_path(route) + "?k=#{route.access_key}") %> (<span><%= route.is_public ? translate("glossary.public") : translate("locations.sidebar.in") %></span>)
          <br/>
          <%= lcounts[route.id] %> <span><%= translate("glossary.locations", :count => lcounts[route.id].to_i).downcase_first %></span> &middot;
          <span><%= (route.transport_type.nil? ? "" : translate("routes.modes_of_travel")[route.transport_type] + " &middot;").html_safe %></span> <span><%= translate("glossary.updated") %></span> <span><%= translate("time.time_ago", :time => time_ago_in_words(route.updated_at)).downcase_first %></span>
        </div>
      <% end %>
      </ul>
  <% else %>
    <span><%= translate("locations.sidebar.you_havent_defined_any_foraging_routes_yet_click_on_a_source_and_then_click_routes_to_get_started_making_a_route") %></span>
    <% end %>
  </div>
</div>
</div> <!-- sidebar_container -->
<div id="sidebar_button">
  <a href="#" onclick="$('#sidebar_button').hide(); $('#mainmap_container').css('left','300px'); google.maps.event.trigger(map,'resize');">▶</a>
</div>

<% content_for(:page_scripts) do %>
<script type="text/javascript">
jQuery(document).ready(function(){
  $("#mainmap_container").css('left','300px');
  $("#sidebar").tabs();
  $("#sidebar").show();
});
</script>
<% end %>
