<div id="sidebar">
  <!-- Tab Menu -->
  <ul>
    <li id="activity"><a href="#sidebar-tab-1"><span>Activity</span></a></li>
    <li id="review-tab"><a href="#sidebar-tab-2"><span>Favorites</span></a></li>
    <li id="routes-tab"><a href="#sidebar-tab-3"><span>Routes</span></a></li>
    <li><div style="text-align: right;"><a href="#" onclick="$('#mainmap_container').css('left','0px');$('#sidebar_button').show();"><span>◀</span></a></div></li>
  </ul>

  <!-- ACTIVITY TAB -->
  <div id="sidebar-tab-1">
    <% if current_user.range.nil? %>
      You haven't setup your foraging range. <%= link_to "Click here", '/users/edit' %> to do that.
    <% else %>
      Changes in your <%= link_to "foraging range", '/users/edit' %>:
    <% end %>
    <br/><br/>
    <%
       last_lab = nil
       @changes.each do |c|
         reordered_type_title = []
         c["positions"] = $1.split(/,/).collect{ |e| e.to_i } if c["positions"] =~ /\{(.*)\}/
         c["type_title"] = c["type_title"].split(/,/)
         c["positions"].each_index{ |i|
           t = c["type_title"][i]
           p = c["positions"][i]
           reordered_type_title[p] = t
         }
         c["days_ago"] = c["days_ago"].to_i
         lab = nil
         mday = Time.zone.today.day
         wday = Time.zone.today.wday
         if c["days_ago"] <= 0
           lab = "Last 24 hours"
         elsif c["days_ago"] <= wday
           lab = "This week"
         elsif c["days_ago"] <= mday
           lab = "This month"
         elsif c["days_ago"] <= mday+30
           lab = "Last month"
         else
           lab = "#{((c["days_ago"]-mday)/30).to_i} months ago"
         end
         if last_lab.nil? or last_lab != lab
           if last_lab.nil?
             header = lab + "<blockquote>"
           else
             header = "</blockquote>#{lab}<blockquote>"
           end
           last_lab = lab
         end
    %>
      <%= raw header %>
      <% unless c["location_id"].nil? %>
        <a href="#" onclick="sidebar_pan_to_location(<%= c["location_id"] %>,<%= c["lat"] %>,<%= c["lng"] %>);return false;">
          <%= c["type_title"].nil? ? "Unknown" : reordered_type_title.join(" · ") %></a> <%= c["description"] %>
        <% unless c["city"].nil? %>
          in <%= c["city"] %>
        <% end %>
      <% else %>
        <%= c["description"] %>
      <% end %>
      <br/>
    <% end %>
    <% if @changes.length > 0 %>
      </blockquote>
    <% end %>
  </div>

  <!-- FAVORITES TAB -->
  <div id="sidebar-tab-2">
    Locations added or reviewed by you (while logged in):
    <br/><br/>
    <% @mine.each do |o| %>
      <div class="favorite">
        <a href="#" onclick="sidebar_pan_to_location(<%= o.location_id %>,<%= o.lat %>,<%= o.lng %>);return false;">
          <%= o.location.title %>
        </a><br/>
        Last visited <%= time_ago_in_words(o.created_at) %> ago.
      </div>
    <% end %>
  </div>

  <!-- ROUTES TAB -->
  <div id="sidebar-tab-3">
    <% if @routes.length > 0 %>
      <%= link_to "Click here", routes_path %> to manage your routes.
      <br/>
      <%
         lcounts = {}
         LocationsRoute.select("count(*), route_id").joins(:route).group(:route_id).where("user_id = ?",current_user.id).each{ |l|
           lcounts[l.route_id] = l.count
         }
         @routes.each do |route| %>
        <div class="route">
          <%= route.is_public ? link_to(route.name, route) : link_to(route.name, route_path(route) + "?k=#{route.access_key}") %> (<%= route.is_public ? 'public' : 'private' %>)
          <br/>
          <%= lcounts[route.id] %> locations.
          For <%= route.transport_type %>. Last updated <%= time_ago_in_words(route.updated_at) %> ago.
        </div>
      <% end %>
      </ul>
  <% else %>
    You haven't made any foraging routes yet.
    <% end %>
  </div>
</div>
<div id="sidebar_button">
  <a href="#" onclick="$('#sidebar_button').hide();$('#mainmap_container').css('left','300px');">▶</a>
</div>

<% content_for(:page_scripts) do %>
<script type="text/javascript">
jQuery(document).ready(function(){
  $("#sidebar").tabs();
  $("#mainmap_container").css('left','300px');
});
</script>
<% end %>