<div id="editmap_container">
  <div id="map"></div>
  <p id="stamen_attribution" style="display:none;">
    <%= translate("locations.index.stamen_html") %>
  </p>
</div>

<% content_for :page_scripts do %>
<%= render 'map_includes' %>
<script type="text/javascript" charset="utf-8">

  // ================= globals ==================

  var marker = null;
  var lat = $("#location_lat").val();
  var lng = $("#location_lng").val();
  var zoom = 20;
  var type = google.maps.MapTypeId.HYBRID;

  // ================= functions =================

  function initialize() {
    basemap(lat,lng,zoom,type);
    marker = load_edit_marker(lat,lng);

    // Update markers once done panning and zooming
    google.maps.event.addListener(map, 'idle', function() {
      if (map.getZoom() > 12) {
        do_markers(map.getBounds(),$("#location_id").val(),true,undefined,cats);
      }
    });
  }

  // ================== main-level code ===================

  google.maps.event.addDomListener(window, 'load', initialize);

</script>
<%= javascript_include_tag "mapcommon" %>
<%= javascript_include_tag "maplabel" %>
<%= javascript_include_tag "progressBar" %>
<%= javascript_include_tag "richmarker" %>
<% end %>

<%= render 'form' %>
