<h1>Import Locations from CSV</h1>

<% unless @errors.nil? %>
Errors:
<ul style="color: red;">
<% @errors.each{ |e| %>
<li><%= e.collect{|field,err| "#{field}: #{err}" }.join(";") %><br>
<% } %>
</ul>
<% end %>

<details>
  <summary>Show instructions</summary>
  <p>This is an admin-only function for doing bulk imports of locations. It assumes a comma seperated values (CSV) file with the following fields:</p>

  <blockquote style="font-family:Courier;">
  <%= Location.csv_header.join(", ") %>
  </blockquote>

  <p><b>Type:</b> Leading English-language common name of the source(s) at each location. If the name does not match an <a href="/types">existing type</a>, a new type object is created in the database. Separate multiple types with commas (eg. "Orange,Potato,Grape").</p>
  <p><b>Type Other:</b> Deprecated. A new type_other object is created in the database for further review by a site admin before being approved as an official type.</p>
  <p><b>Description:</b> Whatever information should be displayed in the location's infobox (location details, access issues, plant health, etc). &lt;br&gt; (HTML line break) tags are converted to \n (newline) characters. No other markup is currently supported.</p>
  <p><b>Address:</b> Full street address of the location (number, street, city, state / province, zip code, country). It is geocoded and converted to coordinates, so don't provide an address if you are already providing Lat and Lng.</p>
  <p><b>Season Start/Stop:</b> Months that harvesting begins and ends, respectively, with 1 corresponding to January and 12 corresponding to December.</p>
  <p><b>No Season:</b> Whether season does not apply (eg. Rosemary). Mark 'x', 't', or 'true' if true (no season), otherwise leave blank.</p>
  <p><b>Access:</b> Access status of the location, on a scale from 1 to 5:</p>
    <blockquote>
    <% I18n.t("location.infowindow.access_mode").each_index{ |i| %>
    <li><%= i + 1 %>: <%= I18n.t("location.infowindow.access_mode")[i] %>
    <% } %>
    </blockquote>
  <p><b>Unverified:</b> Whether the location or identity of one or more of the sources at the location have not been verified. Mark 'x', 't', or 'true' if true (unverified), otherwise leave blank.</p>
  <p><b>Yield/Quality Rating:</b> The productivity and tastiness of the sources at the location, on a scale from 1 to 5:</p>
    <blockquote>
    <% I18n.t("location.infowindow.rating").each_index{ |i| %>
    <li><%= i + 1 %>: <%= I18n.t("location.infowindow.rating")[i] %>
    <% } %>
    </blockquote>
  <p><b>Author:</b> Author of the location, as displayed on the map. If left blank, the author is "Anonymous".</p>
  <p><b>Photo URL:</b> Full path to an image of the location. (Currently unused on the website, but support for photos is planned).</p>
</details>

<br/>
<%= form_for :import, :html => {:multipart => true} do |f| %>
  <%= fields_for :import do |f2| %>
    <div class="field">
      Name<br>
      <%= f.text_field :name, :size => "80" %>
    </div>
    <div class="field">
      URL<br>
      <%= f.text_field :url, :size => "80" %>
    </div>
    <div class="field">
      Comments<br>
      <%= f.text_area :comments, :size => "80x10" %>
    </div>
    <div class="field">
      License<br>
      <%= f.text_area :license, :size => "80x10" %>
    </div>
    <div class="field">
      <%= f.check_box :muni, :value => 1, :checked => false %> Municipal<br />
    </div>
  <% end %>
  <div class="field">
    <%= file_field_tag :csv %>
  </div>
  <div class="field">
    <%= f.submit "Upload" %>
  </div>
<% end %>