Regions: 
<% @regions.collect{ |region| %>
  <% if @type.nil? %>
    <a href="/locations?region_id=<%= region.id %>"><%= region.name %></a> |
  <% else %>
    <a href="/locations?type_id=<%= @type.id %>&region_id=<%= region.id %>"><%= region.name %></a> |
  <% end %>
<% } %>
<a href="/locations/">All</a>
<% unless @region.nil? %>
(Current Filter: <%= @region.name %>)
<% end %>
<br>
Types:
<% @types.collect{ |type| %>
  <% if @region.nil? %>
    <a href="/locations?type_id=<%= type.id %>"><%= type.name %></a> |
  <% else %>
    <a href="/locations?region_id=<%= @region.id %>&type_id=<%= type.id %>"><%= type.name %></a> |
  <% end %>
<% } %>
<a href="/locations/">All</a>
<% unless @type.nil? %>
(Current Filter: <%= @type.name %>)
<% end %>

<br><br>
<%= gmaps4rails(@locations.to_gmaps4rails) %>
<br>
<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Description</th>
    <th>Season start</th>
    <th>Season stop</th>
    <th>Region</th>
    <th>Type</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.author %></td>
    <td><%= location.title %></td>
    <td><%= location.description %></td>
    <td><%= location.season_start %></td>
    <td><%= location.season_stop %></td>
    <td><%= location.region.nil? ? "?" : location.region.name %></td>
    <td><%= location.type.nil? ? "?" : location.type.name %></td>
    <td><%= location.address %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
