<%= render 'searchbar' %>

<div id="mainmap_container">
  <div id="map"></div>
  <p id="stamen_attribution" style="display:none;">Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.</p>
</div>

<% content_for :page_scripts do %>
<script src="//maps.google.com/maps/api/js?v=3.8&amp;sensor=false&amp;key=&amp;libraries=geometry&amp;language=&amp;hl=&amp;region=" type="text/javascript"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.1"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/keydragzoom/2.0.9/src/keydragzoom_packed.js"></script>
<script type="text/javascript" charset="utf-8">

  // set to true once we open the initial infobox
  var opened_once = false;
  var skip_ids = null;
  var type_filter = undefined;
  <% unless @type.nil? %>
    type_filter = <%= @type.id %>;
  <% end %>

  // ================= functions =================
  
  // Enable the visual refresh
  google.maps.visualRefresh = true;
  
  function initialize() {
    var ini_zoom = 15;
    var ini_lat = <%= @location.lat %>;
    var ini_lng = <%= @location.lng %>;
    var toner = "toner-lite";
    
    var mapOptions = {
      zoom: ini_zoom,
      center: new google.maps.LatLng(ini_lat,ini_lng),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControlOptions: {
        mapTypeIds: [google.maps.MapTypeId.ROADMAP, google.maps.MapTypeId.TERRAIN, google.maps.MapTypeId.SATELLITE, google.maps.MapTypeId.HYBRID, toner]
      }
    };
    map = new google.maps.Map(document.getElementById('map'),mapOptions);
    geocoder = new google.maps.Geocoder();
    pb = progressBar();
    map.controls[google.maps.ControlPosition.RIGHT].push(pb.getDiv());
    
    // Stamen Toner (B&W) map
    var tonerType = new google.maps.StamenMapType(toner);
    tonerType.name = "B&W";
    map.mapTypes.set(toner, tonerType);
    
    // Bicycle map (and control)
    bicycleControl(map);
    
    // Key Drag Zoom
	keyDragZoom(map);
	
    google.maps.event.addListener(map, 'rightclick', function(event) {
      remove_add_marker();
      place_add_marker(event.latLng);
    });

    google.maps.event.addListener(map, 'click', function(event) {
      if(openMarker != null && openInfoWindow != null){
        openInfoWindow.close();
        openMarker = null;
        openInfoWindow = null;
      }
    });
    
    google.maps.event.addListener(map, 'maptypeid_changed', function(event) {
      update_attribution();
    });
    
    google.maps.event.addListenerOnce(map, 'tilesloaded', function(event) {
      update_display(true,ini_zoom);
      document.addEventListener("markersloaded",function(event){
        if(!opened_once){
          opened_once = open_marker_by_id(<%= @location.id %>,<%= @location.lat %>,<%= @location.lng %>);
        }
        $("#tabs").tabs();
      },false);
    });
             
    google.maps.event.addListener(map, 'bounds_changed', function() {
      google.maps.event.addListenerOnce(map, 'idle', function(){
        update_display(false);
      });
    });
    google.maps.event.addListener(map, 'zoom_changed', function() {
      google.maps.event.addListenerOnce(map, 'idle', function(){
        update_display(false);
      });
    });
    map.setTilt(0); 
  }

  // ================== main-level code ===================

  google.maps.event.addDomListener(window, 'load', initialize);

  // hide the 'zoom to me' button if browser isn't supporting geolocation
  if(!navigator.geolocation){
    $('#recenter_button').hide();
  }
  navigator.geolocation.getCurrentPosition(function(position){},function(error){
    $('#recenter_button').hide();
  });
</script>
<%= javascript_include_tag "maplabel" %>
<%= javascript_include_tag "progressBar" %>
<%= javascript_include_tag "richmarker" %>
<%= javascript_include_tag "mapcommon" %>
<%= javascript_include_tag "mainmap" %>
<% end %>
