<p>
  <b>Lat:</b>
  <%= @location.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @location.lng %>
</p>

<p>
  <b>Author:</b>
  <%= @location.author %>
</p>

<p>
  <b>Title:</b>
  <%= @location.title %>
</p>

<p>
  <b>Description:</b>
  <%= @location.description %>
</p>

<p>
  <b>Season start:</b>
  <%= @location.season_start %>
</p>

<p>
  <b>Season stop:</b>
  <%= @location.season_stop %>
</p>

<p>
  <b>Type:</b>
  <%= @location.types.empty? ? "?" : @location.locations_types.collect{ |lt| lt.type.nil? ? lt.type_other : lt.type.name }.join(",") %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>
