<%= render 'searchbar' %>

<div id="mainmap_container">
  <div id="map"></div>
  <p id="stamen_attribution" style="display:none;">
    <%= translate("locations.index.stamen_html").html_safe %>
  </p>
</div>

<% content_for :page_scripts do %>
<%= render :partial => "/locations/map_includes" %>
<script type="text/javascript" charset="utf-8">

  // ================= globals ==================

  var lat = <%= @location.lat %>;
  var lng = <%= @location.lng %>;
  var zoom = 15;
  var type = google.maps.MapTypeId.ROADMAP;

  // set to true once we open the initial infobox
  var opened_once = false;
  var skip_ids = null;
  var type_filter = [];
  <% unless @types.nil? %>
    type_filter = <%= @types.collect{ |t| t.id } %>;
  <% end %>
  <% if @types_from_category %>
    var type_filter_default = type_filter;
  <% else %>
    var type_filter_default = <%= @category_types.collect{ |t| t.id } %>;
  <% end %>
  
  // ================= functions =================

  function initialize() {
    basemap(lat,lng,zoom,type);

    google.maps.event.addListener(map, 'maptypeid_changed', function(event) {
      update_permalink();
      update_attribution();
    });

    google.maps.event.addListener(map, 'rightclick', function(event) {
      remove_add_marker();
      place_add_marker(event.latLng);
    });

    google.maps.event.addListenerOnce(map, 'tilesloaded', function(event) {
      update_display(true,zoom);
      document.addEventListener("markersloaded",function(event){
        if (!opened_once) {
          opened_once = open_marker_by_id(<%= @location.id %>);
        }
      },false);
    });

    // Far less redundant event trigger
    google.maps.event.addListener(map, 'idle', function() {
      update_display(false);
    });
  }

  // ================== main-level code ===================

  google.maps.event.addDomListener(window, 'load', initialize);

  // hide the 'zoom to me' button if browser isn't supporting geolocation
  if(!navigator.geolocation){
    $('#recenter_button').hide();
  }
  navigator.geolocation.getCurrentPosition(function(position){},function(error){
    $('#recenter_button').hide();
  });

</script>
<%= javascript_include_tag "maplabel" %>
<%= javascript_include_tag "progressBar" %>
<%= javascript_include_tag "richmarker" %>
<%= javascript_include_tag "mapcommon" %>
<%= javascript_include_tag "mainmap" %>
<% end %>
