<!DOCTYPE html>
<html>
<head>
  <title>Falling Fruit</title>
  <%= stylesheet_link_tag "common", :media => "all" %>
  <%= stylesheet_link_tag "gmaps4rails" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="everything">

<div style="background: #003366;">
 <div style="float: right;"><img src="/logo.png" height="40"></div>
 <h1 style="color: white;">The Falling Fruit Map</h1>
</div>

<div id="menu">
 <div style="float: right;">
 <% if admin_signed_in? %>
 Logged in as <%= current_admin.email %>:
 <%= link_to('Account', edit_admin_registration_path) %> |
 <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %><br>
 <% else %>
 <%= link_to('Admin Login', admins_path) %>
 <% end %>
 </div>
<%= link_to('Home', root_path) %> |
<%= link_to('About', '/pages/about') %> |
<%= link_to('Add Something', new_location_path) %>

<% if admin_signed_in? %>
| <%= link_to('Admins', admins_path) %> |
<%= link_to('Import', import_locations_path) %> |
<%= link_to('Types', types_path) %>
<% end %>
</div>

<% if notice %>
<div class="notice"><%= notice %></div>
<% end %>
<% if alert %>
<div class="alert"><%= alert %></div>
<% end %>

<% path = request.fullpath.split(/\?/)[0] %>
<% unless [root_path,locations_path].include? path %><div id="content"><% end %>

<%= yield %>

<% if [root_path,locations_path].include? path %></div><% end %>

</div> <!-- everything -->

<%= yield :scripts %> 
<%= javascript_include_tag "maplabel" %>

</body>
</html>
