<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  
  <% host = request.local? ? "localhost" : "fallingfruit.org" %>
  
  <!-- Metadata -->
  <title>Falling Fruit</title>
  <meta name="keywords" content="map, urban, harvest, edible, forage, glean, tree, inventory, plant, fruit, nut, berry, food, agriculture, freegan, dumpster, community, Falling Fruit, Ethan Welty, Caleb Phillips" />
  
  <% if @freegan %>
    <meta property="og:title" content="World Dumpster Map" />
    <meta property="og:site_name" content="Falling Fruit" />
    <meta property="og:url" content="http://fallingfruit.org/dumpsters" />
    <meta property="og:image" content="http://fallingfruit.org/og/dumpster-sticker.png" />
    <meta property="og:image" content="http://fallingfruit.org/og/dumpster-sticker-01.jpg" />
    <meta property="og:image" content="http://fallingfruit.org/og/dumpster-haul.jpg" />
    <meta property="og:description" content="By mapping the world's food-bearing dumpsters, we hope to raise awareness about food waste, facilitate the liberation of discarded food, and encourage businesses to donate the food instead." />
    <meta name="description" content="By mapping the world's food-bearing dumpsters, we hope to raise awareness about food waste, facilitate the liberation of discarded food, and encourage businesses to donate the food instead." />
    
  <% else %>
    <meta property="og:title" content="Falling Fruit" />
    <meta property="og:site_name" content="Falling Fruit" />
    <meta property="og:url" content="http://fallingfruit.org/" />
    <meta property="og:image" content="http://fallingfruit.org/og/amittai.jpg" />
    <meta property="og:image" content="http://fallingfruit.org/og/apple-haul.jpg" />
    <meta property="og:description" content="An urban harvesting map that brings together community and city datasets from all over the internet. Find, add, and edit information on the wild edibles growing in your neighborhood." />
    <meta name="description" content="An urban harvesting map that brings together community and city datasets from all over the internet. Find, add, and edit information on the wild edibles growing in your neighborhood." />
  <% end %>
  
  <!-- Scripts & Styles -->
  <%= stylesheet_link_tag "application" %>
  <% if @freegan %>
    <%= stylesheet_link_tag "freegan" %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript" src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
  <script type="text/javascript">
    // captcha
    function show_recaptcha(element) {
      Recaptcha.create("6LcqFtwSAAAAAJ5DbZf652BwgOjHra7aRuMDC3lq", element, {theme: "white"});
    }
    // Resize below-header content on window resize
    function resize_content() {
      var siteHeaderHeight = document.getElementById('menubar').offsetHeight + document.getElementById('logobar').offsetHeight;
      if (document.getElementById('content_container') != undefined) {
        document.getElementById('content_container').style.top = siteHeaderHeight + 'px';
      } else {
        if(document.getElementById('searchbar') != undefined){
          var mapHeaderHeight = siteHeaderHeight + document.getElementById('searchbar').offsetHeight;
          if (document.getElementById('mainmap_container') != undefined) {
            document.getElementById('mainmap_container').style.top = mapHeaderHeight + 'px';
            google.maps.event.trigger(map,'resize');
          }
          if (document.getElementById('sidebar_container') != undefined) {
            document.getElementById('sidebar_container').style.top = mapHeaderHeight + 'px';
          }
        }
      }
    }
    $(window).resize(function() {
      resize_content();
    });
    // Mobile state variable
    var mobile = false;
  </script>

</head>
<body onload="resize_content();">

 <div id="problem_modal"></div> <!-- Problems modal gets injected into this div. -->

 <!-- Alerts -->
 <% if notice or alert %>
 <div id="warnings_dialog" style="display:none;" ></div>
<% content_for :page_scripts do %>
<script type="text/javascript">
	var w1 = '<%= notice %>';
	var w2 = '<%= alert %>';
	$('#warnings_dialog').dialog({ 
		closeText: "close",
		minHeight: '5em',
		resizable: false,
		draggable: false,
		position: "top",
		title: w1 + "\n\n" + w2,
		dialogClass: "dialog_yellow"
		});
</script>
 <% end %>
 <% end %>

<!-- Logo Bar -->
<div id="logobar"> 

 <!-- AddThis Buttons -->
	<div id="share_controls" class="addthis_32x32_style addthis_default_style nowrap">
		
		<a class="addthis_button_facebook_follow" addthis:userid="FallingFruit">
			<img src="/social/facebook.svg" />
		</a>
		<a class="addthis_button_twitter_follow" addthis:userid="Falling_Fruit">
			<img src="/social/twitter.svg" />
		</a>
		<a class="addthis_button_instagram_follow" addthis:userid="fallingfruit">
			<img src="/social/instagram.svg" />
		</a>
		<a class="addthis_button_google_follow" addthis:url="https://plus.google.com/114324461382595896953/about">
			<img src="/social/gplus.svg" />
		</a>
		<a class="addthis_button_compact" addthis:url="http://www.FallingFruit.org">
			<img src="/social/addthis.png" />
		</a>
	</div>
        <div style="display:none;"><a href="https://plus.google.com/114324461382595896953" rel="publisher">Google+</a></div>	
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51390d312330c4fe"></script>
 
 <!-- Title -->
 <a id="falling_fruit" href="/">falling fruit</a>
 <span id="subtitle">
 &ndash;
 <% unless @freegan %>
   <%= I18n.t("layouts.application.mapping_the_urban_harvest") %>
 <% else %>
   <%= I18n.t("layouts.application.feed_people_not_landfills") %>
 <% end %>
 </span>
</div>

<!-- Menu Bar -->
<div id="menubar">
 <div id="rightcontrols">
   <% path = request.fullpath %>
		<% if user_signed_in? %>
			<span id="user_email"><%= current_user.email %></span>
     <%= link_to(I18n.t("layouts.application.menu.account"), edit_user_registration_path, :class => (path == '/users/edit') ? 'currentpage' : 'notcurrentpage') %>
     <%= link_to(I18n.t("layouts.application.menu.logout"), destroy_user_session_path, :method => :delete) %>
		<% else %>
			<%= link_to(I18n.t("layouts.application.menu.login"), new_user_session_path, :class => (path == '/users/sign_in') ? 'currentpage' : 'notcurrentpage') %><%= link_to('Sign Up', new_user_registration_path, :class => (path == '/users/sign_up') ? 'currentpage' : 'notcurrentpage') %>
		<% end %>
 </div>
 <div id="menu">
    <ul>
    
    <!-- Map -->
    <% unless user_signed_in? %>
      <li><%= link_to(I18n.t("layouts.application.menu.map"), root_path, :id => "maplink", :class => ([root_path,'/observations/new'].include?(path.split('?')[0]) or (path.include? '/locations' and path != new_location_path) or path.include? '/dumpsters' or path.include? '/freegan') ? "currentpage" : "notcurrentpage") %></li>
    <% else %>
      <li><%= link_to(I18n.t("layouts.application.menu.home"), '/home', :id => "maplink", :class => (['/locations/home','/home'].include?(path.split('?')[0])) ? "currentpage" : "notcurrentpage") %></li>
      <li><%= link_to(I18n.t("layouts.application.menu.world"), root_path, :class => ([root_path,'/observations/new'].include?(path.split('?')[0]) or (path.include? '/locations' and path != new_location_path and path != home_locations_path) or path.include? '/dumpsters' or path.include? '/freegan') ? "currentpage" : "notcurrentpage") %></li>
    <% end %>
    
    <!-- About -->
    <li><%= link_to(I18n.t("layouts.application.menu.about"), '/about', :class => (['/about','/datasets','/sharing','/press'].include?(path)) ? "currentpage" : "notcurrentpage") %>
    <ul>
      <li><%= link_to(I18n.t("layouts.application.menu.the_project"), '/about', :class => (path == '/about') ? 'currentpage' : 'notcurrentpage') %>
      <li><%= link_to(I18n.t("layouts.application.menu.imported_datasets"), '/datasets', :class => (path == '/datasets') ? 'currentpage' : 'notcurrentpage') %></li>
      <li><%= link_to(I18n.t("layouts.application.menu.sharing_the_harvest"), '/sharing', :class => (path == '/sharing') ? 'currentpage' : 'notcurrentpage') %></li>
      <li><%= link_to(I18n.t("layouts.application.menu.in_the_press"), '/press', :class => (path == '/press') ? 'currentpage' : 'notcurrentpage') %></li>
    </ul>
    <li><%= link_to(I18n.t("layouts.application.menu.data"), '/data', :class => (path == '/data') ? "currentpage" : "notcurrentpage") %></li>
    <li><%= link_to(I18n.t("layouts.application.menu.changes"), '/changes', :class => (path == '/changes') ? "currentpage" : "notcurrentpage") %></li>
    
    <!-- Routes -->
		<% if user_signed_in? %>
			<li><%= link_to(I18n.t("layouts.application.menu.routes"), routes_path, :class => ((path == routes_path or not path.match('/routes/[0-9]+').nil?) ? "currentpage" : "notcurrentpage")) %></li>

			<% if current_user.is? :admin %>
				
				<!-- Trouble -->
				<li><%= link_to(I18n.t("layouts.application.menu.trouble"), problems_path, :class => (path == problems_path) ? "currentpage" : "notcurrentpage") %></li>
				
				<!-- Types -->
				<li><%= link_to(I18n.t("layouts.application.menu.types"), types_path, :class => (path.include? types_path) ? "currentpage" : "notcurrentpage") %>
				<ul>
						<li><%= link_to(I18n.t("layouts.application.menu.approved_types"), types_path, :class => (path == types_path) ? "currentpage" : "notcurrentpage") %></li>
						<li><%= link_to(I18n.t("layouts.application.menu.pending_types"), grow_types_path, :class => (path == grow_types_path) ? "currentpage" : "notcurrentpage") %></li>
						<li><%= link_to(I18n.t("layouts.application.menu.new_type"), new_type_path, :class => (path == new_type_path) ? "currentpage" : "notcurrentpage") %></li>
				</ul>
				</li>
		
				<!-- Imports -->
				<li><%= link_to(I18n.t("layouts.application.menu.imports"), imports_path, :class => (path.include? imports_path or path == import_locations_path) ? "currentpage" : "notcurrentpage") %>
				<ul>
						<li><%= link_to(I18n.t("layouts.application.menu.list_imports"), imports_path, :class => (request.fullpath == imports_path) ? "currentpage" : "notcurrentpage") %></li>
						<li><%= link_to(I18n.t("layouts.application.menu.new_import"), import_locations_path, :class => (request.fullpath == import_locations_path) ? "currentpage" : "notcurrentpage") %></li>
				</ul>
				</li>
		
				<!-- Users -->
				<li><%= link_to(I18n.t("layouts.application.menu.users"), users_path, :class => (request.fullpath == users_path) ? "currentpage" : "notcurrentpage") %></li>
			<% end %>
		<% end %>
		
		<li><%= link_to(I18n.t("layouts.application.menu.add_source"), new_location_path, :class => (request.fullpath == new_location_path) ? "currentpage" : "notcurrentpage") %>
    <!-- Click on map! -->
    <% if (request.fullpath.split('?')[0] == root_path or not request.fullpath.match('/locations/[0-9]+').nil?) and !user_signed_in? %>
				<span><%= I18n.t("layouts.application.or_right-click_on_map") %></span>
			<% end %>
    </li>
    
    </ul>
    
 </div>
</div>

<!-- Unverified? -->
<div id="unverified_help" style="display:none;">
<%= I18n.t("layouts.application.unverified_help") %>
</div>

<!-- Pending Types -->
<div id="pending_types_help" style="display:none;">
<%= I18n.t("layouts.application.pending_types_help") %>
</div>
   
<!-- Content -->
<% unless ((@current_controller == "locations") and !(@current_action == "import")) or (@current_controller == "routes" and @current_action == "show")  or (@current_controller == "observations") %>

<div id="content_container">
	<div id="content">
	 <%= yield %>
 
	 <!-- Footer -->
	 <div id="footer">
		<a href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_GB"><%= I18n.t("layouts.application.copyleft") %></a> (c) <%= Time.now.year %> Falling Fruit
	 </div>
	</div>
</div>

<% else %>

	<%= yield %>

<% end %>

<!-- Per Page Javascripts -->
<%= yield :page_scripts %>

<!-- Form Partial Javascripts -->
<%= yield :form_scripts %>

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39120529-1']);
  _gaq.push(['_setDomainName', 'fallingfruit.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- AddThis Javascript -->
<!-- URL tracking <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>-->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51390d312330c4fe"></script>

</body>
</html>
