<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <!-- Metadata -->
  <title>Falling Fruit</title>
  <meta name="description" content="An urban harvesting map that brings together community and city datasets from all over the internet. Find, add, and edit information on the wild edibles growing in your neighborhood." />
  <meta name="keywords" content="map, urban, harvest, edible, forage, glean, tree, inventory, plant, fruit, nut, berry, food, agriculture, community, Falling Fruit, Ethan Welty, Caleb Phillips" />

  <!-- Facebook OpenGraph Tags -->
  <% host = request.local? ? "localhost" : "fallingfruit.org"%>
  <meta property="og:title" content="Falling Fruit" />
  <meta property="og:url" content="http://fallingfruit.org/" />
  <meta property="og:description" content="An urban harvesting map that brings together community and city datasets from all over the internet. Find, add, and edit information on the wild edibles growing in your neighborhood." />
  <meta property="og:image" content="http://fallingfruit.org/fb-avatar.jpg" />

  <!-- Scripts & Styles -->
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
  <script type="text/javascript">
    function show_recaptcha(element) {
      Recaptcha.create("6LcqFtwSAAAAAJ5DbZf652BwgOjHra7aRuMDC3lq", element, {theme: "white"});
    }
  </script>
  <script>
    // Mobile state variable
    var mobile = false;
  </script>
</head>
<body>

 <div id="problem_modal"></div> <!-- Problems modal gets injected into this div. -->

 <!-- Alerts -->
 <% if notice or alert %>
 <div id="warnings_dialog" style="display:none;" ></div>
<% content_for :page_scripts do %>
<script type="text/javascript">
	var w1 = '<%= notice %>';
	var w2 = '<%= alert %>';
	$('#warnings_dialog').dialog({ 
		closeText: "close",
		minHeight: '5em',
		resizable: false,
		draggable: false,
		position: "top",
		title: w1 + "\n\n" + w2,
		dialogClass: "dialog_yellow"
		});
</script>
 <% end %>
 <% end %>

<!-- Logo Bar -->
<div id="logobar">

 <!-- AddThis Buttons -->
	<div id="share_controls" class="addthis_32x32_style addthis_default_style nowrap">
		
		<a class="addthis_button_facebook_follow" addthis:userid="FallingFruit">
			<img src="/social/facebook.svg" />
		</a>
		<a class="addthis_button_twitter_follow" addthis:userid="Falling_Fruit">
			<img src="/social/twitter.svg" />
		</a>
		<a class="addthis_button_google_follow" addthis:url="https://plus.google.com/114324461382595896953/about">
			<img src="/social/gplus.svg" />
		</a>
		<a class="addthis_button_compact" addthis:url="http://www.FallingFruit.org">
			<img src="/social/addthis.png" />
		</a>

		<!-- Facebook like
		<a class="addthis_button_facebook_like" fb:like:layout="button_count" addthis:url="http://www.facebook.com/FallingFruit"></a> --> 	
		<!-- Twitter follow
		<a class="addthis_button_twitter_follow_native" tw:screen_name="Falling_Fruit" tw:show-count="false" tw:show-screen-name="false" />-->
	</div>
	
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51390d312330c4fe"></script>
 
 <!-- Title -->
 <a id="falling_fruit" href="/">FallingFruit.org</a><a href="/?mobile=1"><img style="height:1.7em;position:relative;top:0.1em;left:0.5em;" src="/mobile.png" title="Mobile site"/></a><span id="subtitle"> Mapping the urban harvest!</span>
 
</div>

<!-- Menu Bar -->
<div id="menubar">
 <div id="rightcontrols">
   <% path = request.fullpath %>
		<% if user_signed_in? %>
			<span id="user_email"><%= current_user.email %></span> <%= link_to('Account', edit_user_registration_path, :class => (path == '/users/edit') ? 'currentpage' : 'notcurrentpage') %><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
		<% else %>
			<%= link_to('Login', new_user_session_path, :class => (path == '/users/sign_in') ? 'currentpage' : 'notcurrentpage') %><%= link_to('Sign Up', new_user_registration_path, :class => (path == '/users/sign_up') ? 'currentpage' : 'notcurrentpage') %>
		<% end %>
 </div>
 <div id="menu">
    <ul>
    
    <!-- Map -->
    <li><%= link_to('Map', root_path, :id => "maplink", :class => ([root_path,'/observations/new'].include?(path.split('?')[0]) or (path.include? '/locations' and path != new_location_path)) ? "currentpage" : "notcurrentpage") %></li>
    
    <!-- About -->
    <li><%= link_to('About', '/about', :class => (['/about','/datasets','/sharing','/press'].include?(path)) ? "currentpage" : "notcurrentpage") %>
    <ul>
      <li><%= link_to('The Project', '/about', :class => (path == '/about') ? 'currentpage' : 'notcurrentpage') %>
      <li><%= link_to('Imported Datasets', '/datasets', :class => (path == '/datasets') ? 'currentpage' : 'notcurrentpage') %></li>
      <li><%= link_to('Sharing the Harvest', '/sharing', :class => (path == '/sharing') ? 'currentpage' : 'notcurrentpage') %></li>
      <li><%= link_to('In the Press', '/press', :class => (path == '/press') ? 'currentpage' : 'notcurrentpage') %></li>
    </ul>
    <li><%= link_to('Data', '/data', :class => (path == '/data') ? "currentpage" : "notcurrentpage") %></li>
    <li><%= link_to('Changes', '/changes', :class => (path == '/changes') ? "currentpage" : "notcurrentpage") %></li>
    <li><%= link_to('Add Source', new_location_path, :class => (path == new_location_path) ? "currentpage" : "notcurrentpage") %></li>
    
    <!-- Routes -->
		<% if user_signed_in? %>
			<li><%= link_to('Routes', routes_path, :class => ((path == routes_path or not path.match('/routes/[0-9]+').nil?) ? "currentpage" : "notcurrentpage")) %></li>

			<% if current_user.is? :admin %>
				
				<!-- Trouble -->
				<li><%= link_to('Trouble', problems_path, :class => (path == problems_path) ? "currentpage" : "notcurrentpage") %></li>
				
				<!-- Types -->
				<li><%= link_to('Types', types_path, :class => (path.include? types_path) ? "currentpage" : "notcurrentpage") %>
				<ul>
						<li><%= link_to('Approved Types', types_path, :class => (path == types_path) ? "currentpage" : "notcurrentpage") %></li>
						<li><%= link_to('Pending Types', grow_types_path, :class => (path == grow_types_path) ? "currentpage" : "notcurrentpage") %></li>
						<li><%= link_to('New Type', new_type_path, :class => (path == new_type_path) ? "currentpage" : "notcurrentpage") %></li>
				</ul>
				</li>
		
				<!-- Imports -->
				<li><%= link_to('Imports', imports_path, :class => (path.include? imports_path or path == import_locations_path) ? "currentpage" : "notcurrentpage") %>
				<ul>
						<li><%= link_to('List Imports', imports_path, :class => (request.fullpath == imports_path) ? "currentpage" : "notcurrentpage") %></li>
						<li><%= link_to('New Import', import_locations_path, :class => (request.fullpath == import_locations_path) ? "currentpage" : "notcurrentpage") %></li>
						<li><%= link_to('Bibliography', bibliography_imports_path, :class => (request.fullpath == bibliography_imports_path) ? "currentpage" : "notcurrentpage") %></li>
				</ul>
				</li>
		
				<!-- Users -->
				<li><%= link_to('Users', users_path, :class => (request.fullpath == users_path) ? "currentpage" : "notcurrentpage") %></li>
			<% end %>
		<% end %>
    </ul>
    
    <!-- Click on map! -->
    <% if (request.fullpath.split('?')[0] == root_path or not request.fullpath.match('/locations/[0-9]+').nil?) and !user_signed_in? %>
				<span>(or right-click on map)</span>
			<% end %>

 </div>
</div>

<!-- Unverified? -->
<div id="unverified_help" style="display:none;">
Sources are marked as unverified if their identity, location, or existence is disputed. Many sources imported from tree inventories are marked as unverified because their edibility is uncertain (for example, "Pear" could be either an edible or decorative variety). Users are encouraged to travel to these locations and report their findings.
</div>
   
<!-- Content -->
<% unless ((@current_controller == "locations") and !(@current_action == "import")) or (@current_controller == "routes" and @current_action == "show")  or (@current_controller == "observations") %>

<div id="content_container">
	<div id="content">
	 <%= yield %>
 
	 <!-- Footer -->
	 <div id="footer">
		<a href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_GB">Copyleft</a> (c) <%= Time.now.year %> Falling Fruit  
	 </div>
	</div>
</div>

<% else %>

	<%= yield %>

<% end %>

<!-- Per Page Javascripts -->
<%= yield :page_scripts %>

<!-- Form Partial Javascripts -->
<%= yield :form_scripts %>

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39120529-1']);
  _gaq.push(['_setDomainName', 'fallingfruit.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- AddThis Javascript -->
<!-- URL tracking <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>-->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51390d312330c4fe"></script>

</body>
</html>
