<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <!-- Metadata -->
  <title>Falling Fruit</title>
  <meta name="description" content="An urban harvesting map that brings together community and city datasets from all over the internet. Find, add, and edit information on the wild edibles growing in your neighborhood." />
  <meta name="keywords" content="map, urban, harvest, edible, forage, glean, tree, inventory, plant, fruit, nut, berry, food, agriculture, community, Falling Fruit, Ethan Welty, Caleb Phillips" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Facebook OpenGraph Tags -->
  <% host = request.local? ? "localhost" : "fallingfruit.org"%>
  <meta property="og:title" content="Falling Fruit" />
  <meta property="og:url" content="http://fallingfruit.org/" />
  <meta property="og:description" content="An urban harvesting map that brings together community and city datasets from all over the internet. Find, add, and edit information on the wild edibles growing in your neighborhood." />
  <meta property="og:image" content="http://fallingfruit.org/fb-avatar.jpg" />

  <!-- Scripts & Styles -->
  <%= stylesheet_link_tag "mobile" %>
  <%= javascript_include_tag "mobile" %>
  <%= csrf_meta_tags %>
  <script>
    // Mobile state variable
    var mobile = true;
  </script>
</head>
<body>

<% @is_index = (@current_controller == "locations") and (@current_action == "index") %>
	
<div data-role="page">

<div data-role="header" id="mobile-header">
 <h1><a id="falling_fruit" href="/">FallingFruit.org</a></h1>
 <a href="/?mobile=1" data-ajax="false">Main Map</a>
 <a href="/?mobile=0" data-ajax="false">Full Site</a>
</div>

<%= yield %>

<!-- Per Page Javascripts -->
<%= yield :page_scripts %>

<!-- Form Partial Javascripts -->
<%= yield :form_scripts %>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39120529-1']);
  _gaq.push(['_setDomainName', 'fallingfruit.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</div>

</body>
</html>
